<section class="relative py-4 bg-blueGray-50">
  <div class="w-full px-1">
    <div class="relative flex flex-col min-w-0 w-full mb-3 shadow-lg rounded">
      <div class="block w-full overflow-x-auto ">
        <div class="grid grid-cols-5 md:grid-cols-9 gap-1">
          <div class="col-span-2 md:col-span-1 pl-8 md:pl-4 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.thumbnail' %>
          </div>
          <div class="col-span-2 pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'.dog_name' %>
          </div>
          <div class="hidden md:block col-span-2 pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.breed' %>
          </div>
          <div class="hidden md:block pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.age' %>
          </div>
          <div class="hidden md:block pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.sex' %>
          </div>
          <div class="hidden md:block pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.weight' %>
          </div>
          <div class="pl-2 text-sm whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600 border-b border-gray-700">
            <%= t'defaults.entry_at' %>
          </div>
          <% if @num_of_playing_dogs.zero? %>
            <div class="col-span-5 md:col-span-9 text-sm whitespace-nowrap py-8 font-bold bg-purple-200 mx-auto text-gray-600">
              <%= t'.nobody_playing' %>
            </div>
          <% else %>
            <% @num_of_playing_dogs.times do |t| %>
              <% if @dogs[t].public == 'non_public' %>
                <div class="col-span-5 md:col-span-9 text-sm whitespace-nowrap py-8 font-bold bg-purple-200 mx-auto text-gray-600">
                  <%= t'.non_public_dog' %>
                </div> 
              <% else %>
                <div class="col-span-2 md:col-span-1 pl-2 text-sm whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <%= link_to togo_inu_shitsuke_hiroba_dog_path(@dogs[t].id) do %>
                    <div class="w-15 h-15 rounded-full flex-shrink-0 mx-auto mb-3 md:md-0 inline-flex items-center justify-center bg-indigo-100">
                      <%= image_tag @dogs[t].thumbnail_image.url(:thumbnail), alt: @dogs[t].name %>
                    </div>
                  <% end %>
                </div>
                <div class="col-span-2 pl-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <%= link_to togo_inu_shitsuke_hiroba_dog_path(@dogs[t].id) do %>
                    <%= @dogs[t].name %>
                  <% end %>
                </div>
                <div class="hidden md:block col-span-2 pl-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <% if @dogs[t].breed == '' %>
                    -
                  <% else %>
                    <%= @dogs[t].breed %>
                  <% end %>
                </div>
                <div class="hidden md:flex pl-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <% if @dogs[t].birthday.blank? %>
                    -
                  <% else %>
                    <%= @dogs[t].age %>
                  <% end %>
                    <p class="text-sm pt-4 font-light"><%= t'.age_unit' %></p>
                </div>
                <div class="hidden md:block pl-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <% if @dogs[t].sex.blank? %>
                    -
                  <% else %>
                    <% case @dogs[t].sex %>
                    <% when 'male' then %>
                      <%= t'enums.dog.sex.male' %>
                    <% when 'female' then %>
                      <%= t'enums.dog.sex.female'%>
                    <% end %>
                  <% end %>
                </div>
                <div class="hidden md:flex pl-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <% if @dogs[t].weight.blank? %>
                    -
                  <% else %>
                    <%= @dogs[t].weight %>
                  <% end %>
                  <p class="text-sm pt-4 font-light"><%= t'.weight_unit' %></p>
                </div>
                <div class="pl-2 align-middle py-2 text-base whitespace-nowrap self-center font-semibold text-left bg-purple-200 text-gray-600">
                  <%= l @dogrun_entry_data[t].entry_at, format: :short2 %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
