<h1 class='mt-3 text-2xl'>
  <%= t'.site_in' %>
</h1>
<h1 class='text-2xl'>
  <%= t'.playing' %>
</h1>

<%= form_with url: {controller: 'entries', action: 'create'}, data: { turbo: false} do |f| %>
  <div class="flex items-center justify-center mt-3">
      <%= button_tag type: 'submit', class: "flex mt-3 font-bold h-14 text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
        <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 12H12M12 12L15 15M12 12L15 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-2 text-xl">
          <%= t('defaults.entry') %>
        </span>
      <% end %>
  </div>
<% end %>

<%= link_to '#' do %>
  <button class="mt-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <svg class="fill-current w-6 h-6 mr-2" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z"></path>
    </svg>
    <%= t'.detail' %>
  </button>
<% end %>
