<% content_for(:title, I18n.t('togo_inu_shitsuke_hiroba.static_pages.detail.title', dogrun: DogrunPlace.find(2).name))%>
<div class="max-w-6xl mx-auto px-1 sm:px-6 lg:px-8 mt-5">
  <h1 class='text-3xl text-indigo-800 font-semibold text-center'>
    <%= simple_format(I18n.t('togo_inu_shitsuke_hiroba.static_pages.detail.title', dogrun: DogrunPlace.find(2).name)) %>
  </h1>
  <div class="container bg-purple-200 w-full shadow rounded sm:p-10 pt-3">
    <div class="lg:flex justify-center text-2xl md:text-3xl font-bold mb-5">
      <p class='text-center text-2xl relative right-5 md:right-10'>
        <%= t'.site_in' %>
      </p>
      <div class="flex text-2xl mt-4 ml-20 md:ml-0">
        <h1 class="text-6xl pb-2">
          <%= @num_of_playing_dogs %>
        </h1>
        <span class="ml-10 text-left">
          <%= simple_format(t'.playing1') %>
          <%= simple_format(t'.playing2') %>
        </span>
      </div>
      <% if @num_of_playing_dogs.zero? %>
        <p class="text-center text-base font-medium text-orange-500 mt-2">
          <%= t'.nobody_playing' %>
        </p>
      <% end %>
      <% if !@dogs_non_public.blank? %>
        <div class="flex justify-center">
          <p class="text-sm lg:text-base font-medium text-stone-500 mt-2 lg:pt-12 lg:pl-5">
            <%= t('.among_them_non_public_dogs') %>
            <%= @dogs_non_public.size %>
            <%= t('.unit_of_dogs') %>
          </p>
        </div>
      <% end %>
    </div>
    <%= render 'togo_inu_shitsuke_hiroba/static_pages/detail_content' %>
  </div>
</div>
