<% content_for(:title, t('.dogrun')) %>
<div class='text-center mt-2'>
  <% if logged_in? %>
    <% if !@publishing_post.blank? %>
      <div class="flex justify-center">
        <h3 class="text-gray-700 font-bold text-lg self-center"><%= t('.dogrun_board') %></h3>
        <%= link_to('javascript:void(0);', onclick: "window.location.reload();", class: "items-center px-2 py-2 font-medium tracking-wide text-slate-500 capitalize transition-colors duration-300 transform rounded-md hover:text-slate-700 focus:outline-none") do %>
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </div>
      <div class="mx-auto mt-2 w-full md:w-1/3 py-2 rounded-xl border-dashed border-2 border-amber-500">
        <%= @publishing_post[0].post_viewing %>
      </div>
    <% end %>
    <h1 class="my-1"><%= simple_format(t('.under_commissioning'), class: "font-bold text-lg text-red-600") %></h1>
    <div class="flex flex-col mt-4">
      <p class='text-center text-2xl mt-2 relative right-10'>
        <%= t'.site_in' %>
      </p>
      <div class="text-2xl flex text-center mt-4 mx-auto relative left-12">
        <h1 class="flex text-6xl pb-2">
          <%= @num_of_playing_dogs %>
        </h1>
        <span class="ml-10 text-left">
          <%= simple_format(t'.playing1') %>
          <%= simple_format(t'.playing2') %>
        </span>
      </div>
    </div>

    <%= render 'togo_inu_shitsuke_hiroba/static_pages/login_top_content' %>

    <%= link_to togo_inu_shitsuke_hiroba_detail_path do %>
      <button class="mt-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-7 h-7 mr-2">
          <path fill="var(--ci-primary-color, currentColor)" d="M393.3,161.33,334.532,76.438a48.09,48.09,0,0,0-38.775-20.673l-111.527-1.6-.23,0c-57.579,0-101.757,9.631-130.21,56.634C27.3,154.551,16,229.08,16,360v16H52.557L29.024,496h32.61L85.167,376H96a99.521,99.521,0,0,0,70.088-27.992c16.979-16.246,29.226-38.472,35.419-64.274l.056-.232L229.006,152h-32.69L170.337,276.488C162.425,309.168,138.766,344,96,344H48.06c.869-113.266,11.182-180.419,33.105-216.634,18.4-30.4,45.295-41.191,102.724-41.206l111.408,1.6a16.026,16.026,0,0,1,12.925,6.891L374.7,190.67,464,205.554v16.959l-14.892,79.421c-4.395,23.441-11.908,35.249-42.718,38.95L280.084,362.493,279.249,496h32l.667-106.493,98.7-16.9c22.36-2.749,38.857-9.955,50.426-22.023,9.89-10.318,15.909-23.5,19.519-42.752L496,225.487V178.446Z" class="ci-primary"/>
        </svg>
        <%= t'.detail' %>
      </button>
    <% end %>

    <% if current_user.guest? %>
      <%= link_to togo_inu_shitsuke_hiroba_jump_to_signup_path, data: { turbo_method: :post } do %>
        <button class="flex mx-auto px-8 py-2 text-lg mt-10 text-green-500 capitalize transition-colors duration-300 transform bg-stone-200 rounded-full hover:bg-stone-100 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <svg class="w-7 h-7 inline-block" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
          </svg>
          &nbsp;
          <%= t'.jump_to_signup' %>
      <% end %>
    <% end %>
  <% else %>
    <%= image_tag 'https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,q_auto/v1661503968/togo_inu_shitsuke_hiroba_logo_dmshl1.png', class: 'rounded-full w-3/12 h-3/12 mx-auto mt-3', alt: "togo_inu_shitsuke_hiroba" %>
    <%= link_to 'https://www.town.aichi-togo.lg.jp/soshikikarasagasu/toshiseibika/gyomuannai/2/1/3279.html' do %>
      <p class="mt-10 text-3xl text-center font-semibold text-blue-500 underline transform hover:scale-110 hover:text-blue-400 duration-500">
        <%= t'.before_using_dogrun' %>
    <% end %>
    <div class="flex-col">
      <%= link_to togo_inu_shitsuke_hiroba_signup_path do %>
        <button class="mx-auto flex px-6 py-2 text-2xl mt-10 text-white bg-blue-500 transform hover:scale-110 hover:bg-blue-400 duration-500 focus:outline-none focus:shadow-outline rounded-full focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
          </svg>
          &nbsp;
          <%= t'.signup' %>
        </button>
      <% end %>
      <%= link_to togo_inu_shitsuke_hiroba_guest_login_path, data: { turbo_method: :post } do %>
        <button class="mx-auto px-4 py-2 text-lg mt-10 text-indigo-500 capitalize transition-colors duration-300 transform bg-stone-300 rounded-full hover:bg-stone-100 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-6 h-6 mb-1 inline-block" viewBox="0 0 24 24">
            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
          </svg>
          <span class="mx-1"><%= t('.guest_login') %></span>
        </button>
      <% end %>
      <p class="text-center"><%= simple_format(t('.check_app_by_trial_guest_login'), class: "text-indigo-500 text-sm") %></p>
    </div>
  <% end %>
</div>
