<div class="bg-gray-200 dark:bg-gray-800 flex flex-col items-center p-4 border border-gray-800 dark:border-gray-200 sm:p-6 rounded-xl">
  <%= link_to dogrun_top_path(dogrun_place.id) do %>
    <%= cl_image_tag(dogrun_place.logo.key, gravity: :auto, quality_auto: :good, fetch_format: :auto, class: "object-scale-down h-[294px] w-auto", alt: dogrun_place.name) %>
    <div class ="text-center">
      <h1 class="mt-4 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        <%= dogrun_place.name %>
      </h1>
    </div>
  <% end %>
  <div class="flex-col mt-2 text-gray-700 dark:text-gray-200 capitalize items-center">
    <%= simple_format(dogrun_place.description, { class: "text-sm text-gray-700 dark:text-gray-200 text-center" }) %>
    <details data-controller="accordion" class="text-center">
      <summary data-accordion-target="summary" data-action="click->accordion#toggle" class="mt-3 flex justify-center hover:cursor-pointer">
        <h1 class="flex font-bold text-lg dark:text-gray-200">
          <%= t('defaults.detail')%>
        </h1>
      </summary>
      <div data-accordion-target="content">
        <p class="text-sm mt-2">
          <%= DogrunPlace.human_attribute_name(:address) %>
        </p>
        <h2 class="mt-1">
          <%= simple_format(dogrun_place.address, class: "text-gray-700 dark:text-gray-300 text-base") %>
        </h2>
        <% if !dogrun_place.opening_time.blank? || !dogrun_place.closing_time.blank? %>
          <p class="text-sm mt-2">
            <%= t('defaults.business_time') %>
          </p>
          <h2 class="mt-1">
            <%= l dogrun_place.opening_time, format: :short2 %>
            〜
            <%= l dogrun_place.closing_time, format: :short2 %>
          </h2>
        <% end %>
        <p class="text-sm mt-2">
          <%= DogrunPlace.human_attribute_name(:usage_fee) %>
        </p>
        <h2 class="mt-1">
          <%= simple_format(dogrun_place.usage_fee, class: "text-gray-700 dark:text-gray-300 text-base") %>
        </h2>
        <p class="text-sm mt-2">
          <%= DogrunPlace.human_attribute_name(:site_area) %>
        </p>
        <h2 class="mt-1">
          <%= simple_format(dogrun_place.site_area, class: "text-gray-700 dark:text-gray-300 text-base") %>
        </h2>
        <div class="mx-auto">
          <% if !dogrun_place.web_site.blank? %>
            <p class="text-sm mt-2">
              <%= DogrunPlace.human_attribute_name(:web_site) %>
            </p>
            <%= link_to dogrun_place.web_site, target: "_blank", rel: "noopener noreferrer" do %>
              <svg class="w-6 h-6 fill-current mx-auto mt-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd"></path>
              </svg>
            <% end %>
          <% end %>
          <% if !dogrun_place.sns_account.nil? %>
            <p class="text-sm my-2">
              <%= t('defaults.sns') %>
            </p>
            <%= render partial: "shared/sns_account_icons", locals: { sns_account: dogrun_place.sns_account } %>
          <% end %>
          <% if !dogrun_place.facilities.blank? %>
            <p class="text-sm mt-4">
            <%= Facility.human_attribute_name(:name) %>
            </p>
            <div class="flex flex-wrap">
              <% dogrun_place.facilities.each do |facility| %>
                <span class="whitespace-nowrap leading-none text-white py-2 px-2 bg-sky-700 rounded mr-1 mt-2"><%= dogrun_facility_view(facility.name) %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </details>
  </div>
</div>
