<% content_for(:title, t('.title')) %>
<section class="text-gray-600">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0 sm:text-center">
      <h1 class="text-3xl text-gray-900"><%= t'.title' %></h1>
      <p class="leading-relaxed mt-4"><%= simple_format(t'.input_email') %></p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-purple-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-2xl text-gray-900 text-center"><%= t'.email_form' %></h2>
      <%= form_with url: password_resets_path, local: true, data: { turbo: false }, method: :post do |f| %>
        <div class="block mt-12">
          <div class="flex flex-col">
          <%= f.label :email, t('defaults.email'), class: "font-bold leading-none" %>
          <%= f.email_field :email, class: "w-full leading-none text-gray-900 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" %>
        </div>
        <div class="flex items-center justify-center mt-10">
          <%= button_tag type: 'submit', class: "flex items-center px-10 py-4 font-midium tracking-wide text-white transition-colors duration-200 transform bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" do %>
            <svg class="w-6 h-6 mx-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <span class="mx-1 text">
              <%= t('defaults.send') %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

