<%= turbo_frame_tag dom_id(@dogrun_place, "top_contents") do %>
<div class="flex flex-col mt-2 font-bold">
  <p class='text-center text-gray-700 text-2xl relative right-7'>
    <%= t('local.static_pages.top.site_in') %>
  </p>
  <%= turbo_frame_tag dom_id(@dogrun_place, :num_of_playing_dogs) do %>
    <%= render partial: "shared/num_of_playing_dogs", locals: { num_of_playing_dogs: @num_of_playing_dogs } %>
  <% end %>
  <%= turbo_frame_tag dom_id(@dogrun_place, :among_them_non_public_dogs) do %>
    <%= render partial: "shared/among_them_non_public_dogs", locals: { entry_dogs_non_public: @entry_dogs_non_public }  %>
  <% end %>
</div>
<%= render partial: 'shared/during_pre_entry_dogs_content', locals: { dogrun_place: @dogrun_place, dog_profile_path: @dog_profile_path, current_user: @current_user } %>
<% if !@current_user.guest? %>
  <%= turbo_frame_tag dom_id(@dogrun_place, :login_top_content) do %>
    <%= render partial: 'shared/login_top_content', 
      locals: { 
        current_user: @current_user, 
        dogrun_place: @dogrun_place,
        dogs: @dogs,
        entries_path: @entries_path,
        pre_entry_path: @pre_entry_path,
        entry_for_time: @entry_for_time,
      } 
    %>
  <% end %>
<% end %>
<%= render partial: 'shared/during_entry_dogs_content', locals: { dog_profile_path: @dog_profile_path, dogrun_place: @dogrun_place } %>
<% end %>
