<tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
    <div class="w-12 h-12 flex-shrink-0 mx-auto mb-3 inline-flex items-center justify-center">
      <%= image_tag dog.thumbnail_photo.url(:std_thumb), class: "rounded-full", alt: dog.name %>
    </div>
  </td>
  <% if current_user.name == "grand_admin" %>
    <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
      <%= thumb(dog) %>
    </td>
  <% else %>
    <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
      <% rn = RegistrationNumber.find_by(dog_id: dog.id) %>
      <%= rn.registration_number %>
    </td>
  <% end %>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <%= dog.user.name %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <%= dog.name %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if dog.breed == '' %>
      -
    <% else %>
      <%= dog.breed %>
    <% end %>
  </td>
  <td class="flex pl-2 pt-5 text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if dog.birthday.nil? %>
      -
    <% else %>
      <%= dog.age %>
    <% end %>
    <p class="text-sm pt-4 font-light"><%= t('defaults.age_unit') %></p>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% case dog.sex %>
    <% when 'male' then %>
      <%= t('enums.dog.sex.male') %>
    <% when 'female' then %>
      <%= t('enums.dog.sex.female') %>
    <% else %>
      -
    <% end %>
  </td>
  <td class="flex pl-2 pt-5 text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if dog.weight == nil %>
      -
    <% else %>
      <%= dog.weight %>
    <% end %>
    <p class="text-sm pt-4 font-light"><%= t('defaults.weight_unit') %></p>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if dog.castration == 'castrated' %>
      <%= t('enums.dog.castration.castrated') %>
    <% else %>
      <%= t('enums.dog.castration.non_castrated') %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if dog.public == 'public_view' %>
      <%= t('enums.dog.public.public_view') %>
    <% else %>
      <%= t('enums.dog.public.non_public') %>
    <% end %>
  </td>
  <% if current_user.name == "grand_admin" %>
    <td>
      <%= link_to edit_admin_dog_path(dog), data: { turbo_confirm: t('defaults.edit_confirmation') }, class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
        <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
        </svg>
      <% end %>
    </td>
  <% end %>

</tr>
