<details data-controller="accordion" class="mt-2">
  <summary data-accordion-target="summary" data-action="click->accordion#toggle" class="mt-3 hover:cursor-pointer flex justify-center">
    <h1 data-accordion-target="openText" class="flex font-bold text-base text-gray-500">
      <%= t('.show_owner_information')%>
    </h1>
    <h1 data-accordion-target="closeText" class="hidden flex font-bold text-base text-gray-500">
      <%= t('.hide_owner_information')%>
    </h1>
  </summary>
  <div data-accordion-target="content" class="border-2 border-dashed border-gray-500 px-3 py-2 rounded-lg max-w-[245px]">
    <div class="text-left text-gray-500 text-sm font-semibold">
      <p class="font-normal"><%= User.human_attribute_name(:name) %></p>
      <h2 class="mt-0.5 text-base text-gray-700">
        <%= dog.user.name %>
      </h2>
      <p class="mt-2 font-normal"><%= User.human_attribute_name(:email) %></p>
      <h2 class="mt-0.5 text-base text-gray-700">
        <%= dog.user.email %>
      </h2>
      <% if !dog.user_detail.nil? %>
        <p class="font-normal mt-2"><%= UserDetail.human_attribute_name(:zip_code) %></p>
        <h2 class="mt-0.5 text-base text-gray-700">
          <%= dog.user_detail.zip_code %>
        </h2>
        <p class="mt-2 font-normal"><%= t('defaults.address') %></p>
        <h2 class="mt-0.5">
          <%= simple_format(dog.user_detail.address_1, class:"text-base text-gray-700") %>
        </h2>
        <% if !dog.user_detail.address_2.nil? %>
          <h2 class="mt-0.5">
            <%= simple_format(dog.user_detail.address_2, class: "text-base text-gray-700") %>
          </h2>
        <% end %>
        <p class="mt-2 font-normal"><%= UserDetail.human_attribute_name(:phone_number) %></p>
        <h2 class="mt-0.5 text-base text-gray-700">
          <%= dog.user_detail.phone_number %>
        </h2>
      <% else %>
        <p class="text-base font-medium text-red-700 mt-2">
          <%= t(".not_registered_user_detail") %>
        </p>
      <% end %>
    </div>
  </div>
</details>
