<% content_for(:title, t('.title')) %>
<div class="container bg-gray-300 flex flex-col">
  <h2 class="mt-2 ml-2">
    <%= t('.title') %>
  </h2>
  <div class="overflow-x-auto -mx-1">
    <div class="py-2 w-full px-2">
      <%= render partial: 'admin/dogs/search_form' %>
      <h2 class="text-gray-700 text-sm flex items-end justify-end mr-7 mt-3">
        <%= t('defaults.search_results_is')%>
        <span class="text-xl mr-2 ml-2">
          <%= @pagy.vars[:conunt] ? 0 : @pagy.vars[:count] %> 
        </span>
        <%= t('defaults.search_results_unit') %>
      </h2>
      <table class="mt-3 w-full">
        <thead class="bg-white border-b">
          <tr>
            <th scope="col"> 
              <%= simple_format(t('defaults.thumbnail'), class:"font-medium text-sm px-3 py-2 text-center") %>
            </th>
            <th scope="col">
              <%= simple_format(t('admin.dogs.index.photo_of_certificate'), class: "text-sm font-medium text-gray-900 px-3 py-2 text-left") %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= t('admin.dogs.index.notice') %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= @naming_of_registration_number %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= User.human_attribute_name(:name) %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= Dog.human_attribute_name(:name) %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= Dog.human_attribute_name(:breed) %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= t('defaults.age') %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-3 py-2 text-left">
              <%= Dog.human_attribute_name(:sex) %>
            </th>
            <th scope="col" class="py-2">
              <%= simple_format(Dog.human_attribute_name(:castration), class:"text-left text-sm font-medium text-gray-900") %>
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
              <%= Dog.human_attribute_name(:public) %>
            </th>
            <% if current_user.grand_admin? %>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                <%= t('defaults.edit') %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render @dogs_results %>
        </tbody>
      </table>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>
