<% content_for(:title, t('.title')) %>
<%= turbo_frame_tag "dog_profile_modal" do %>
<div data-controller="turbo-form-modal lightbox" data-turbo-form-modal-target="modal" 
  class="animate-fade-in flex items-center justify-center fixed z-30 inset-0 h-full p-3">
  <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
  <%= turbo_frame_modal_close_button %>
  <div class="turbo-form-modal bg-purple-200 backdrop-blur bg-opacity-75">
    <div class="sticky top-[92%] float-right z-50 opacity-80">
      <%= link_to edit_admin_dog_path(@dog), data: { turbo_frame: "dog_edit_modal" } do %>
        <button class="edit-button">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
          </svg>
        </button>
      <% end %>
    </div>
    <%= render partial: "dog_profile_content", locals: { dog: @dog, registration_number: @registration_number, naming_of_registration_number: @naming_of_registration_number } %>
  </div>
  <%= render partial: "shared/photo_modal" %>
</div>
<% end %>
