<% content_for(:title, t('.title')) %>
<div class="max-w-6xl mx-auto px-6 sm:px-6 lg:px-8 mt-5">
  <div class="container bg-purple-200 w-full shadow rounded p-8 sm:p-10">
    <div class="text-3xl font-bold text-center mb-3">
      <p><%= simple_format(t'.title') %></p>
    </div>
    <%= simple_form_for @dog, url:togo_inu_shitsuke_hiroba_dog_path, data: { controller: 'preview disable', "disable-with-value": t('defaults.updating'), turbo: false } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <section class="text-gray-600 body-font">
        <div class="container px-3 py-3 mx-auto flex flex-col">
          <div class="flex flex-col sm:flex-row mt-5">
            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8 items-center justify-center">
              <div class="mb-3">
                <span class="text-sm font-medium"><%= t'.change_image' %></span>
                <%= f.input :thumbnail_photo, as: :file, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview" }, class: "block w-full px-3 py-1.5 text-sm text-white font-normal bg-gray-700 bg-clip-padding rounded border border-soild border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
                <%= f.hidden_field :thumbnail_photo_cache %>
              </div>
              <div class="flex-shrink-0 mx-auto mb-3 md:mb-0">
                <%= image_tag @dog.thumbnail_photo.url(:std_thumb), "data-preview-target": "imagePreview", alt: "preview_of_dog_photo", class: "rounded-full object-cover mx-auto", style: "aspect-ratio: 1 / 1;" %>
              </div>
              <div class="text-gray-600 text-xs font-light mt-5">
                <%= simple_format((t'.registration_number'), {}, wrapper_tag: "div") %>
                <p class="text-xl font-bold"><%= @registration_number[0].registration_number %>
              </div>
              <div class="flex flex-col items-center text-center justify-center mt-3">
                <h2 class="font-bold text-gray-600 text-2xl">
                  <%= @dog.name %>
                </h2>
                <div class="w-32 h-1 bg-gray-200 rounded mt-2 mb-4"></div>
              </div>
            </div>
            <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
              <div class="justify-start w-full md:w-1/2 mb-6">
                <div class="flex-raw flex-shrink-0 items-center md:items-start md:justify-center mb-3 md:mb-0">
                  <%= f.input :name, input_html: { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: t('.dog_name'), hint: false, error: false %>
                </div>
              </div>
              <div class="flex-raw flex-shrink-0 items-center md:items-start md:justify-center mb-6">
                <%= f.input :birthday, start_year: Date.today.year - 30, end_year: Date.today.year, html5: true, input_html: { class: "block w-full md:w-1/2 leding-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: t('defaults.birthday'), hint: false, error: false %>
              </div>
              <div class="flex-row flex-shrink-0 items-center md:items-start md:justify-center mb-3 md:mb-6">
                <%= f.input :breed, input_html: { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, hint: false, error: false %>
              </div>
              <div class="flex jutify-center md:justify-start mb-6">
                <div class="w-1/2 items-center mb-3 md:mb-0 mr-3 md:mr-0">
                  <%= f.input :sex, input_html: { class: "block w-full md:w-1/3 leading-none text-gray-900 p-4 focus:outline-none focus:boader-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, label: t('defaults.sex'), hint: false, error: false %>
                </div>
                <div class="flex w-1/2 md:w-1/5 items-center mb-3 md:mb-0 ">
                  <%= f.input :weight, as: :integer, input_html: { min: 1, class: "block text-right w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, hint: false, error: false %>
                  <p class="text-xs self-end"><%= t'defaults.weight_unit' %></p>
                </div>
              </div>
              <div class="flex justify-items-center md:justify-start mb-6">
                <div class="w-1/2 items-center md:items-start mb-3 md:mb-0">
                  <%= f.label :castration %>
                  <%= f.input :castration, as: :boolean, checked_value: 'castrated', unchecked_value: 'non_castrated', input_html: { class: "block leading-none p-3 focus:outline-none focus:border-blue-700 mt-2 mx-auto md:ml-10" }, label: false,  hint: false, error: false %>
                </div>
                <div class="w-1/2 items-center md:items-start md:justify-center md:mr-2 mb-3 md:mb-0">
                  <%= f.label :public %>
                  <%= f.input :public, as: :boolean, checked_value: 'public_view', unchecked_value: 'non_public', input_html: { class: "block leading-none p-3 focus:outline-none focus:border-blue-700 mt-2 mx-auto md:ml-9" }, label: false, hint: false, error: false %>
                </div>
              </div>
              <div class="justify-center md:justify-start">
                <%= f.label :owner_comment %>
                <%= f.input :owner_comment, as: :text, input_html: { rows: 5, class: "block p-3 w-full text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, placeholder: t('.owner_comment_placeholder'), label: false, hint: false, error: false %>
            </div>
          </div>
        </div>
        <div class="sm:flex items-center mt-6 mx-auto">
          <div class="mt-4 ml-3 pt-3 sm:ml-0 sm:mx-3 sm:mt-0">
            <%= link_to :back, class: "mt-3 font-bold leading-normal text-white py-4 px-10 bg-rose-700 rounded hover:bg-rose-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
              <span><%= t('defaults.back') %></span>
            <% end %>
          </div>
          <div class="mt-4 sm:mx-3 sm:mt-0">
            <%= f.button :submit, class: "mt-3 font-bold leading-normal text-white py-4 px-10 bg-green-700 rounded hover:bg-green-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none diabled:cursor-not-allowed disabled:bg-green-500" do %>
              <span><%= t'defaults.update' %></span>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
