<%= form_with model: embed, url: admin_embed_path, data: { controller: "disable disable-selector", "disable-with-value": t('defaults.posting') } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="text-gray-600 w-full flex flex-col mt-4">
    <%= f.label :embed_type, class: "font-bold leading-none" %>
    <%= f.select :embed_type, Embed.embed_types_i18n.invert, {include_blank: t('.select_sns')}, { class: "block w-full leading-1 text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200", data: { "disable-selector-target": "selector", action: "change->disable-selector#selectorValueChanged" } } %>
  </div>
  <div class="text-gray-600 items-center justify-center w-full mt-4">
    <%= f.label :identifier, class: "font-bold leading-none" %>
    <%= f.text_area :identifier, class: "block w-full p-3 mt-2 text-gray-800 font-normal bg-white bg-clip-padding rounded border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-100 focus:border-blue-600 focus:outline-none" %>
  </div>
  <div class="sm:flex mt-9">
    <div class="flex justify-center sm:ml-0 sm:mx-3">
      <%= link_to :back,
        class: "font-bold leading-none text-white py-4 px-12 bg-rose-700 rounded hover:bg-rose-600 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
        <%= t('defaults.back') %>
      <% end %>
    </div>
    <div class="flex justify-center mt-3 sm:mt-0 sm:mx-3">
      <%= f.button data: { "disable-target": "submitButton", "disable-selector-target": "submitButton" },
        class: "flex items-center font-bold leading-none text-white py-2 px-12 bg-emerald-400 rounded hover:bg-emerald-500 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-emerald-300" do %>
        <%= spinner_icon_for_form_disable_button %>
        <span data-disable-target="buttonText" data-disable-selector-target="buttonText" class="hidden"><%= t'defaults.post' %></span>
        <%= inoperable_icon %>
      <% end %>
    </div>
  </div>
<% end %>
