<%= turbo_frame_tag "set_publish_limit_form_modal" do %>
  <%= tag.div data: { controller: "turbo-form-modal", "turbo-form-modal_target": "modal", action: "turbo:submit-end->turbo-form-modal#submitEnd" }, 
      class: "animate-fade-in flex items-center justify-center fixed z-40 inset-0 h-full p-0" do %>
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <%= turbo_frame_modal_close_button %>
    <div class="max-h-full md:max-h-[770px] overflow-y-scroll bg-slate-300 shadow-xl rounded-lg border-2 border-gray-700 dark:border-white w-[95%] md:w-auto backdrop-blur bg-opacity-75 p-2">
      <p class="text-center text-xl md:text-2xl text-gray-700 font-bold mb-0 md:mb-2 pt-1">
        <%= @title %>
      </p>
      <div class="w-full px-4 py-0 md:py-2">
        <div class="w-full mx-auto px-0 sm:px-6 mt-1 md:mt-2">
          <%= form_with model: @post, url: start_to_publish_admin_post_path(@post), method: :patch, 
              data: { turbo_method: :patch, turbo_confirm: t('.start_to_publish_confirmation'), controller: "disable-confirm", "disable-confirm-with-value": t('defaults.posting') } do |f| %>
            <p class= "text-base md:text-lg text-center font-base text-gray-700"><%= t('.please_set_publish_limit')%></p>
            <div class="relative flex flex-wrap justify-center px-6 md:px-4 py-0 md:py-2 items-center w-3/4 md:w-full mx-auto">
              <%= f.datetime_select :publish_limit, { min: Time.zone.now, minute_step: 30, discard_year: true, discard_second: true, start_minite: 30, start_second: 0 }, { class: "leading-none rounded mt-0 md:mt-2" } %>
              <span class="absolute right-5 md:right-0 bottom-0 leading-none text-base text-gray-700 "><%= t('.until') %></span>
            </div>
            <%= f.hidden_field :publish_status, value: 'is_publishing' %>
            <div class="flex items-center justify-center mt-3">
              <%= f.button data: { "disable-confirm-target": "submitButton" },
                class: "flex disabled:cursor-not-allowed disabled:bg-emerald-400 font-bold text-white py-2 px-5 bg-emerald-500 rounded hover:bg-emerald-400 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
                <%= @spinner_icon_for_form_disable_button %>
                <div data-disable-confirm-target="buttonText" class="mx-auto font-bold text-white">
                  <%= t('defaults.post') %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-2 mx-auto px-2 py-1 max-w-min rounded-xl border-2 border-neutral-400
        bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]
      ">
        <div class="flex justify-center overflow-y-auto" data-controller="facebook-sdk">
          <%= post_viewing(@post) %>
        </div>
        <div class="mt-2 text-gray-200">
          <div class="flex justify-end">
            <p class="mr-2"><%= t('.posting_datetime') %></p>
            <%= l @post.created_at, format: :long %>
          </div>
          <div class="flex justify-end">
            <p class="mr-2"><%= t('.posting_by') %></p>
            <%= @post.user.name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end%>
