<%= turbo_frame_tag "set_publish_limit_form_modal", autoscroll: true, data: { "autoscroll-behavior": "smooth" }  do %>
  <%= tag.div data: { controller: "turbo-form-modal", "turbo-form-modal_target": "modal", action: "turbo:submit-end->turbo-form-modal#submitEnd click@window->turbo-form-modal#closeBackground" }, 
      id: "user_detail_form_modal", 
      class: "mx-1 p-2 absolute z-20 shadow-xl rounded-lg border-2 border-gray-700 dark:border-white w-full md:w-auto", 
      style: "background-color: #cbd5e1; " do %>
    <div class="relative">
      <button type="button" data-action="turbo-form-modal#hideModal" class="absolute top-0 right-0 rounded-full bg-gray-200 border-2 border-gray-700 shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <p class="text-center text-2xl text-gray-700 font-bold leading-7 mb-2 pt-4">
        <%= @title %>
      </p>
      <div class="w-full px-4 py-2">
        <div class="w-full mx-auto px-0 sm:px-6 mt-5 bg-gray-300">
          <%= form_with model: @post, url: start_to_publish_admin_post_path(@post), method: :patch, 
              data: { turbo_method: :patch, turbo_confirm: t('.start_to_publish_confirmation'), controller: "disable-confirm", "disable-confirm-with-value": t('defaults.posting') } do |f| %>
            <p class= "text-lg text-center leading-6 font-base text-gray-700"><%= t('.please_set_publish_limit')%></p>
            <div class="flex-col text-center px-6 md:px-4 py-2 items-center">
              <%= f.datetime_select :publish_limit, { min: Time.zone.now, minute_step: 30, discard_year: true, discard_second: true, start_minite: 30, start_second: 0 }, { class: "leading-none rounded mt-2" } %>
              <span class="flex justify-center ml-52 md:ml-96 text-lg leading-6 font-base text-gray-700"><%= t('.until') %></span>
            </div>
            <%= f.hidden_field :publish_status, value: 'is_publishing' %>
            <div class="flex items-center justify-center mt-1">
              <%= f.button data: { "disable-confirm-target": "submitButton" },
                class: "flex disabled:cursor-not-allowed disabled:bg-emerald-400 font-bold text-white py-2 px-5 bg-emerald-500 rounded hover:bg-emerald-400 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
                <%= @spinner_icon_for_form_disable_button %>
                <div data-disable-confirm-target="buttonText" class="mx-auto font-bold text-white">
                  <%= t('defaults.post') %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-0 md:px-4">
      <div class="mt-4 mx-auto px-4 py-2 max-w-min rounded-xl border-2 border-neutral-400
        bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]
      ">
        <div class="flex justify-center">
          <%= post_viewing(@post) %>
        </div>
        <div class="mt-2 text-gray-200">
          <div class="flex justify-end">
            <p class="mr-2"><%= t('.posting_datetime') %></p>
            <%= l @post.created_at, format: :long %>
          </div>
          <div class="flex justify-end">
            <p class="mr-2"><%= t('.posting_by') %></p>
            <%= @post.user.name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end%>
