<%= simple_form_for article, url: admin_article_path, data: { controller: 'preview disable clear', "disable-with-value": t('defaults.posting'), turbo: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="text-gray-600 w-full flex flex-col mt-4">
    <%= f.label :content, label_html: { class: "font-bold leading-none" } %>
    <%= f.text_area :content, class: "h-52 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" %>
  </div>
  <div class="text-gray-600 w-full md:w-1/3 mt-4">
      <%= f.label :image_attach, label_html: { class: "font-bold leading-none" } %>
      <%= f.input :image_attach, as: :file, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview"}, class: "block w-full px-3 py-1.5 mt-2 text-white font-normal bg-gray-700 bg-clip-padding rounded border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
      <%= f.hidden_field :image_attach_cache %>
  </div>
  <div class="flex-shrink-0 mx-auto mb-3 flex">
    <%# 小さい画像ファイル(default)を表示させておき、添付画像と差し替える %>
    <%= image_tag article.image_attach.url(:std_attach), "data-preview-target": "imagePreview", alt: "preview of attachment photo", class: "object-cover mx-auto w-1/2 h-1/2" %>
  </div>
  <div class="sm:flex mt-9">
    <div class="flex sm:ml-0 sm:mx-3">
      <%= link_to :back, class: "h-11 mt-3 font-bold leading-none text-white py-4 px-2 bg-rose-700 rounded hover:bg-rose-600 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
        <span class="py-4 px-10"><%= t('defaults.back') %></span>
      <% end %>
    </div>
    <div class="flex justify-center mt-3 sm:mt-0 sm:mx-3 sm:pt-3">
      <%= f.button :submit, t('defaults.post'), class: "h-11 font-bold leading-none text-white py-2 px-12 bg-emerald-400 rounded hover:bg-emerald-500 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-emerald-300" do %>
        <span><%= t'defaults.post' %></span>
      <% end %>
    </div>
  </div>
<% end %>
