<%= turbo_frame_tag "encount_dog_edit_modal" do %>
  <div data-controller="turbo-form-modal" data-turbo-form-modal-target="modal" data-action="turbo:submit-end->turbo-form-modal#submitEnd" 
    class="flex items-center justify-center fixed z-40 inset-0 h-full p-3">
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <div class="relative bg-slate-300 p-2 absolute shadow-xl rounded-lg border-2 border-gray-700 dark:border-white w-full md:w-96 backdrop-blur bg-opacity-75">
      <button type="button" data-action="turbo-form-modal#hideModal" class="absolute top-0 right-0 rounded-full bg-gray-200 border-2 border-gray-700 shadow-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="w-28 h-28 mb-1 md:mb-0 mx-auto">
        <%= encount_dog_thumbnail(@encount_dog.dog, @encount_dog) %>
      </div>
      <div class="w-full mt-1 text-center">
        <p class="text-gray-600 font-bold leading-none"><%= t('local.encount_dogs.edit.encount_dog_name') %></p>
        <p class="text-gray-800 mt-2 text-2xl font-bold leading-none"><%= @encount_dog.dog.name %></p>
      </div>
      <%= content %>
    </div>
  </div>
<% end %>
