<% content_for(:title, @title) %>
<div class="max-w-5xl mx-3 md:mx-auto px-1 sm:px-6 lg:px-8 py-5 bg-purple-200 rounded-lg" data-controller="filming-message-modal sns-post-message-modal">
  <h1 class='mb-3'>
    <%= simple_format(@title, class: "text-3xl text-gray-700 font-semibold text-center") %>
  </h1>
  <% if current_page?(action: "index") %>
    <div class="flex justify-center my-2 items-end text-gray-700">
      <p><%= t('.until_now') %></p>
      <h3 class="px-2 font-bold text-xl"><%= @pagy.vars[:count] %></h3>
      <p><%= t('.unit_of_encount_dogs') %></p>
    </div>
  <% else %>
    <div class="flex justify-center my-2 items-end text-gray-700">
      <p class=""><%= t('.search_results_are') %></p>
      <h3 class="px-2 font-bold text-xl"><%= @pagy.vars[:count] %></h3>
      <p class=""><%= t('.unit_of_search_encount_dogs') %></p>
    </div>
  <% end %>
  <%= simple_format(t('.explain_encount_dogs'), class: "text-center mb-2 text-sm text-gray-700") %>
  <% if @pagy.vars[:count] != 0 %>
    <%= render 'search_form' %>
    <p class="text-center md:hidden text-xs text-gray-600 mt-3"><%= t('defaults.thumbnail_tap') %></p>
    <div class="w-full sm:p-10">
      <div class="block w-full">
        <%= content %>
        <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
      </div>
    </div>
  <% end %>
</div>
