<%= turbo_frame_tag "dog_profile_modal" do %>
  <div data-controller="turbo-form-modal lightbox" data-turbo-form-modal-target="modal" 
    class="animate-fade-in flex items-center justify-center fixed z-30 inset-0 h-full p-3">
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <%= turbo_frame_modal_close_button %>
    <div class="turbo-form-modal bg-purple-200 backdrop-blur bg-opacity-80">
      <% if correct_user?(@user, @current_user) %>
        <div class="sticky top-[92%] float-right z-50 opacity-80">
          <div class="flex">
          <%= link_to send(@entries_record_analysis_path, @registration_number), data: { turbo_frame: "entries_record_analysis_modal" }  do %>
            <button class="edit-button mr-2">
              <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm64 192c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm64-64c0-17.7 14.3-32 32-32s32 14.3 32 32V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V160zM320 288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V320c0-17.7 14.3-32 32-32z"/>
              </svg>
            </button>
          <% end %>
          <%= link_to send(@edit_dog_path, @dog.id), data: { turbo_frame: "dog_edit_modal" } do %>
            <button class="edit-button">
              <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
              </svg>
            </button>
          <% end %>
          </div>
        </div>
      <% elsif not @encount_dog.blank? %>
        <div class="sticky top-[92%] float-right z-50 opacity-80">
          <%= link_to send(@edit_encount_dog_path, @encount_dog), data: { turbo_frame: "encount_dog_edit_modal" } do %>
            <button class="edit-button">
              <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
              </svg>
            </button>
          <% end %> 
        </div>
      <% end %>

      <%= content %>
      
      <% if !@entries.blank? %>
        <%= render partial: 'shared/entries_table', locals: {
            dog_profile_path: @dog_profile_path, 
            num_of_entry_records_to_display: @num_of_entry_records_to_display, 
            entries: @entries,
            dogrun_place: @dogrun_place
            } %>
      <% end %>
    </div>
    <%= render partial: "shared/photo_modal" %>
  </div>
<% end %>
