<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-3 md:mx-auto sm:px-6 lg:px-8">
  <div class="bg-purple-200 w-full shadow rounded p-8 sm:p-12">
    <%= simple_format(t('.title'), { class: 'text-xl font-bold leading-7 text-center mb-5' }, { wrapper_tag: "div" } ) %>
    <%= render 'shared/refer_to_app_sns' %>
    <%= simple_form_for @article, url: togo_inu_shitsuke_hiroba_article_path, data: { controller: 'preview disable', "disable-with-value": t('defaults.posting'), turbo_frame: "_content" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="text-gray-600 w-full flex flex-col mt-4">
        <%= f.label :content, label_html: { class: "font-bold leading-none" } %>
        <%= f.text_area :content, class: "h-52 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" %>
      </div>
      <div class="text-gray-600 items-center justify-center w-full md:w-1/3 mt-4">
          <%= f.label :photo, label_html: { class: "font-bold leading-none" } %>
          <%= f.input :photo, as: :file, direct_upload: true, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview"}, class: "block w-full px-3 py-1.5 mt-2 text-white font-normal bg-gray-700 bg-clip-padding rounded border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
      </div>
      <div class=" flex-shrink-0 mx-auto mb-3">
        <%= article_photo_for_preview(@article) %>
      </div>
      <div class="sm:flex mt-9">
        <div class="flex justify-center sm:ml-0 sm:mx-3">
          <%= link_to togo_inu_shitsuke_hiroba_top_path, class: "font-bold leading-none text-white py-4 px-2 bg-rose-700 rounded hover:bg-rose-600 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
            <span class="py-4 px-10"><%= t('defaults.back') %></span>
          <% end %>
        </div>
        <div class="flex justify-center mt-3 sm:mt-0 sm:mx-3 sm:pt-3">
          <%= f.button :submit, t('defaults.post'), class: "font-bold leading-none text-white py-4 px-12 bg-emerald-400 rounded hover:bg-emerald-500 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-emerald-300" do %>
            <span class="py-4 px-10"><%= t('defaults.post') %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
