<div class="relative mb-3">
  <div class="flex absolute right-0 pr-5 text-gray-200">
    <%= post.box_header_icon %>
  </div>
</div>
<div class="p-2 text-gray-200 mt-5" data-controller="lightbox">
  <% if !post.article.photo.blank? %>
    <%= link_to "#", data: { "lightbox-source-param": post.article.photo_preview, action: "lightbox#handleOpen" } do %>
      <%= article_photo(post.article) %>
    <% end %>
  <% else %>
    <div class="text-center">no image</div>
  <% end %>
  <%= simple_format(post.article.content, { class: 'text-base text-gray-300 mt-2 px-3 mb-1 text-left' }, { wrapper_tag: "div" } ) %>
  <%= render partial: "shared/photo_modal" %>
</div>
