<%= simple_form_for dog_fully_registration, url:send(dog_fully_registration_path), data: { controller: 'disable', "disable-with-value": t('defaults.processing') } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <section class="text-gray-600 body-font">
    <div class="container px-3 py-3 mx-auto flex flex-col">
      <div class="flex flex-col sm:flex-row mt-5">
        <div class="sm:w-1/3 sm:pr-4 sm:py-4 items-center justify-center" data-controller="preview">
          <div class="mb-3">
            <span class="text-sm font-medium"><%= t('.set_thumbnail') %></span>
            <%= f.input :thumbnail, as: :file, direct_upload: true, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview" }, class: "block w-full px-3 py-1.5 text-sm text-white font-normal bg-gray-700 bg-clip-padding rounded border border-soild border-gray-300 transition ease-in-out focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
          </div>
          <div class="flex-shrink-0 w-40 h-40 mx-auto mb-3 md:mb-0">
            <%= cl_image_tag('https://res.cloudinary.com/hryerpkcw/image/upload/v1668863628/j1leiksnvylye7rtun0r.png', gravity: :auto, quality_auto: :good, fetch_format: :auto, class: "rounded-full mx-auto w-full h-full aspect-square object-cover", alt: "thumbnail", "data-preview-target": "imagePreview") %>
          </div>
          <% if session[:card_flg] == true %>
            <div class="mt-5">
              <%= f.label :registration_number, registration_number_notation, label_html: { class: "font-bold leading-none" } %>
              <%= f.input :registration_number, input_html: { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, label: false, hint_html: { class: "text-gray-500 text-xs" }, hint: registration_number_hint, error: false %>
            </div>
          <% else%>
              <%= f.hidden_field :registration_number, value: "-" %>
          <% end %>
          <div class="flex flex-col items-center justify-center mt-3">
            <div class="justify-start w-full">
              <div class="flex-raw flex-shrink-0 items-center md:items-start md:justify-center mb-3 md:mb-0">
                <%= f.input :name, input_html: { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: Dog.human_attribute_name(:name), hint: false, error: false %>
              </div>
            </div>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-4 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 sm:text-left">
          <div class="flex-row flex-shrink-0 items-center md:items-start md:justify-center mb-6">
            <%= f.input :birthday, as: :string, start_year: Date.today.year - 30, end_year: Date.today.year, html5: true, input_html: { type: :date, class: "block w-full md:w-1/2 leding-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: t('defaults.birthday'), hint: false, error: false %>
          </div>
          <div class="flex-row flex-shrink-0 items-center md:items-start md:justify-center mb-3 md:mb-6">
            <%= f.input :breed, input_html: { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: Dog.human_attribute_name(:breed), hint: false, error: false %>
          </div>
          <div class="flex jutify-center md:justify-start mb-6">
            <div class="w-1/2 items-center mb-3 md:mb-0 mr-3 md:mr-0">
              <%= f.input :sex, as: :select, collection: Dog.sexes.keys.map { |s| [I18n.t("enums.dog.sex.#{s}"), s] }, input_html: { class: "block w-full md:w-1/3 leading-none text-gray-900 p-4 focus:outline-none focus:boader-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, label: t('defaults.sex'), hint: false, error: false %>
            </div>
            <div class="flex w-1/2 md:w-1/5 items-center mb-3 md:mb-0 ">
              <%= f.input :weight, as: :integer, input_html: { min: 1, class: "block text-right w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200" }, label: Dog.human_attribute_name(:weight), hint: false, error: false %>
              <p class="text-xs self-end"><%= t'defaults.weight_unit' %></p>
            </div>
          </div>
          <div class="flex text-center md:text-left mb-3">
            <div class="w-1/2 mb-3 md:mb-0">
              <%= f.label :castration %>
              <%= f.input :castration, as: :boolean, checked_value: 'castrated', unchecked_value: 'non_castrated', input_html: { class: "block rounded-lg leading-none p-3 focus:outline-none focus:border-blue-700 mt-2 mx-auto md:ml-10" }, label: false,  hint: false, error: false %>
            </div>
            <div class="w-[120px] md:mr-2 mb-3 md:mb-0 relative" data-controller="sns-post-message-modal">
              <%= f.label :public %>
              <%= render partial: "shared/explain_of_public_icon" %>
              <%= f.input :public, as: :boolean, checked_value: 'public_view', unchecked_value: 'non_public', input_html: { class: "block rounded-lg leading-none p-3 focus:outline-none focus:border-blue-700 mt-2 mx-auto md:ml-9" }, label: false, hint: false, error: false %>
            </div>
          </div>
          <%= simple_format(t('defaults.below_information_is_not_viewable'), class: "mb-3 text-red-500 text-sm text-center md:text-left" )%>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full mb-3">
            <div class="w-full mb-3 md:mb-0 mr-3 md:mr-0" data-controller="preview">
              <span class="text-sm font-medium"><%= t('shared.dog_edit_form.register_rabies_vaccination_certificate') %></span>
              <%= f.input :rabies_vaccination_certificate, as: :file, direct_upload: true, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview" }, class: "block w-full px-3 py-1.5 text-sm text-white font-normal bg-gray-700 bg-clip-padding rounded border border-soild border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
              <div class="mx-auto mt-1">
                <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', gravity: :auto, quality_auto: :good, fetch_format: :auto, class: "rounded", "data-preview-target": "imagePreview") %>
              </div>
            </div>
            <div class="w-full mb-3 md:mb-0">
              <span class="text-sm font-medium"><%= Dog.human_attribute_name(:date_of_rabies_vaccination) %></span>
              <%= f.input :date_of_rabies_vaccination, as: :string, start_year: Date.today.year - 30, end_year: Date.today.year, html5: true, input_html: { type: :date, class: "block w-full px-3 py-1.5 leding-none text-gray-900 focus:outline-none focus:border-blue-700 m-0 bg-gray-100 border rounded border-gray-200"}, label: false, hint: false, error: false %>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full mb-3">
            <div class="w-full mb-3 md:mb-0 mr-3 md:mr-0" data-controller="preview">
              <span class="text-sm font-medium"><%= t('shared.dog_edit_form.register_mixed_vaccination_certificate') %></span>
              <%= f.input :mixed_vaccination_certificate, as: :file, direct_upload: true, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview" }, class: "block w-full px-3 py-1.5 text-sm text-white font-normal bg-gray-700 bg-clip-padding rounded border border-soild border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
              <div class="mx-auto mt-1">
                <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', gravity: :auto, quality_auto: :good, fetch_format: :auto, class: "rounded", "data-preview-target": "imagePreview") %>
              </div>
            </div>
            <div class="w-full mb-3 md:mb-0">
              <span class="text-sm font-medium"><%= Dog.human_attribute_name(:date_of_mixed_vaccination) %></span>
              <%= f.input :date_of_mixed_vaccination, as: :string, start_year: Date.today.year - 30, end_year: Date.today.year, html5: true, input_html: { type: :date, class: "block w-full px-3 py-1.5 leding-none text-gray-900 focus:outline-none focus:border-blue-700 m-0 bg-gray-100 border rounded border-gray-200"}, label: false, hint: false, error: false %>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full mb-3">
            <div class="w-full mb-3 md:mb-0 mr-3 md:mr-0">
              <span class="text-sm font-medium"><%= Dog.human_attribute_name(:registration_prefecture_code) %></span>
              <%= f.collection_select :registration_prefecture_code, JpPrefecture::Prefecture.all, :code, :name,
              { prompt: t('shared.dog_edit_form.choose_a_prefecture') },
              { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 m-0 bg-gray-100 border rounded border-gray-200"} %>
            </div>
            <div class="w-full mb-3 md:mb-0">
              <span class="text-sm font-medium"><%= Dog.human_attribute_name(:registration_municipality) %></span>
              <%= f.input :registration_municipality, input_html: { class: "block w-full px-3 py-1.5 leding-none text-gray-900 focus:outline-none focus:border-blue-700 m-0 bg-gray-100 border rounded border-gray-200"}, label: false, hint: false, error: false %>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full mb-3" data-controller="preview">
            <div class="w-full mb-3 md:mb-0 mr-3 md:mr-0">
              <span class="text-sm font-medium"><%= Dog.human_attribute_name(:municipal_registration_number) %></span>
              <%= f.input :municipal_registration_number, input_html: { class: "block w-full px-3 py-1.5 leding-none text-gray-900 focus:outline-none focus:border-blue-700 m-0 bg-gray-100 border rounded border-gray-200"}, label: false, hint: false, error: false %>
            </div>
            <div class="w-full mb-3 md:mb-0">
              <span class="text-sm font-medium"><%= t('shared.dog_edit_form.register_license_plate') %></span>
              <%= f.input :license_plate, as: :file, direct_upload: true, input_html: { data: { "preview-target": "imageUploader", action: "preview#updatePreview" }, class: "block w-full px-3 py-1.5 text-sm text-white font-normal bg-gray-700 bg-clip-padding rounded border border-soild border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-400 focus:border-blue-600 focus:outline-none" }, label: false, hint: false, error: false %>
              <div class="mx-auto mt-1">
                <%= image_tag('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', gravity: :auto, quality_auto: :good, fetch_format: :auto, class: "rounded", "data-preview-target": "imagePreview") %>
              </div>
            </div>
            <div class="flex mt-7 justify-center text-sm">
              <%= f.input :agreement, as: :boolean, checked: false, label: false, error: false, input_html: {class: "bg-gray-100 rounded border-gary-300 focus:ring-blue-500 focus:ring-2"} %>
              <%= f.label :agreement, label_html: { class: "font-bold text-gray-500" } do %>
                &nbsp;
                <%= dogrun_place.name %>
                の
                <%= link_to dogrun_terms_of_service_page, target: "_blank", rel: "noopener noreferrer", class: "text-gray-600 hover:text-gray-400" do %>
                  <%= t('defaults.terms_of_service') %>
                <% end %>
                <br>
                &nbsp; に同意する 
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center mt-3">
      <%= f.button :submit, t('defaults.registration'), class: "w-full sm:w-60 mt-3 font-bold leading-normal text-white py-4 px-10 bg-emerald-400 rounded hover:bg-emerald-300 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-emerald-300" %>
    </div>
  </section>
<% end %>
<%= link_to send(fully_form_selection_path), class: "flex items-center justify-center mt-3 w-auto" do %>
  <button class="w-full sm:w-60 mt-3 font-bold leading-normal py-4 px-10 tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
    <span class="mx-1"><%= t'defaults.back' %></span>
  </button>
<% end %>
