<%= simple_form_for dog_registration, url: send(dog_registration_path), data: { controller: "disable", "disable-with-value": t('defaults.processing') } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="w-full flex flex-col mt-8 text-gray-700">
    <div class="md:flex items-start justify-center">
      <div class="md:flex md:w-full">
        <% if session[:card_flg] == true %>
          <div class="w-full md:w-1/2 flex flex-col"> 
            <%= f.label :registration_number, registration_number_notation, label_html: { class: "font-bold leading-none" } %>
            <%= f.input :registration_number, input_html: { class: "block w-full sm:w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint_html: { class: "text-gray-500 text-xs" }, hint: registration_number_hint, error: false %>
          </div>
        <% else %>
          <%= f.hidden_field :registration_number, value: "-" %>
        <% end %>
        <div class="w-full md:w-1/2 flex flex-col md:mt-0 mt-7">
          <%= f.label :name, t('defaults.dog_name'), label_html: { class: "font-bold leading-none" } %>
          <%= f.input :name, input_html: { class: "block w-full sm:w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint: false, error: false %>
        </div>
      </div>
      <div class="flex md:w-2/3 justify-center">
        <div class="w-1/2 md:w-1/3 flex flex-col md:mt-0 mt-7 items-center justify-center"> 
          <%= f.label :castration, label_html: { class: "font-bold leading-none" } %>
          <%= f.input :castration, as: :boolean, checked_value: 'castrated', unchecked_value: 'non_castrated', input_html: { class: "block rounded-lg leading-none p-3 focus:outline-none focus:border-blue-700 mt-4" }, label: false, hint: false, error: false %>
        </div>
        <div class="relative w-[145px] flex flex-col md:mt-0 mt-7 items-center justify-center" data-controller="sns-post-message-modal"> 
          <%= f.label :public, label_html: { class: "font-bold leading-none" } %>
          <%= render partial: "shared/explain_of_public_icon" %>
          <%= f.input :public, as: :boolean, checked_value: 'public_view', unchecked_value: 'non_public', input_html: { class: "block rounded-lg leading-none p-3 focus:outline-none focus:border-blue-700 mt-4" }, label: false, hint: false, error: false %>
        </div>
      </div>
    </div>
    <div class="flex mt-7 justify-center text-sm">
      <%= f.input :agreement, as: :boolean, checked: false, label: false, error: false, input_html: {class: "bg-gray-100 rounded border-gary-300 focus:ring-blue-500 focus:ring-2"} %>
      <%= f.label :agreement, label_html: { class: "font-bold text-gray-500" } do %>
        &nbsp;
        <%= dogrun_place.name %>
        の
        <%= link_to dogrun_terms_of_service_page, target: "_blank", rel: "noopener noreferrer", class: "text-gray-600 hover:text-gray-400" do %>
          <%= t('defaults.terms_of_service') %>
        <% end %>
        <br>
        &nbsp; に同意する 
      <% end %>
    </div>
  </div>
  <div class="flex items-center justify-center mt-3">
    <%= f.button :button, class: "flex justify-center w-full sm:w-60 mt-3 font-bold leading-normal text-white py-4 px-10 bg-emerald-400 rounded hover:bg-emerald-300 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-emerald-300", data: { "disable-target": "submitButton" } do %>
      <%= spinner_icon_for_form_disable_button %>
      <span data-disable-target="buttonText"><%= t('defaults.registration') %></span>
    <% end %>
  </div>
<% end %> 
<%= link_to send(form_selection_path), class: "flex items-center justify-center mt-3 w-auto" do %>
  <button class="w-full sm:w-60 mt-3 font-bold leading-normal py-4 px-10 tracking-wide text-white bg-red-600 rounded-md hover:bg-red-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
    <span class="mx-1"><%= t'defaults.back' %></span>
  </button>
<% end %>
