<tr>
  <td class="flex items-center whitespace-nowrap bg-purple-200 text-gray-600">
    <%= new_encount_dog_badge(encount_dog) %>
    <%= link_to togo_inu_shitsuke_hiroba_dog_path(encount_dog.dog_id) do %>
      <div class="w-28 h-28 mb-3 md:mb-0 mx-auto">
        <%= image_tag encount_dog.dog.thumbnail_photo.url(:std_thumb), class: css_class_encount_dog_color_marker(encount_dog), alt: encount_dog.dog.name %>
      </div>
    <% end %>
  </td>
    <td class="align-middle pl-2 text-sm whitespace-nowrap font-medium text-left md:text-center bg-purple-200 text-gray-600">
      <%= encount_dog.dog.name %>
    </td>
    <td class="align-middle pl-2 text-sm whitespace-nowrap font-medium text-left md:text-center bg-purple-200 text-gray-600">
      <%= l encount_dog.created_at, format: :long2 %>
    </td>
    <td class="align-middle pl-2 text-sm whitespace-nowrap font-medium text-center bg-purple-200 text-gray-600">
      <%= DogrunPlace.find(encount_dog.dogrun_place_id).name %>
    </td>
    <td data-controller="modal" class="table-cell align-middle pl-2 text-sm font-medium bg-purple-200">
      <div data-action="click->modal#open">
        <svg class="mx-auto" width="27px" height="27px" stroke-width="1.92" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#808080">
          <path d="M8 10h8M8 14h4M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12c0 1.821.487 3.53 1.338 5L2.5 21.5l4.5-.838A9.955 9.955 0 0012 22z" stroke="#808080" stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <%= render partial: 'shared/encount_dog_memo_modal', locals: { encount_dog: encount_dog } %>
    </td>
    <td class="align-middle pl-2 pr-2 text-sm whitespace-nowrap font-medium text-center bg-purple-200">
      <%= link_to edit_togo_inu_shitsuke_hiroba_encount_dog_path(encount_dog), data: { turbo_confirm: t('defaults.edit_confirm') }, class: "flex justify-center ml-2 text-sm text-gray-500 py-2 px-4" do %>
        <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
        </svg>
      <% end %>
    </td>
</tr>
