<%= turbo_frame_tag dom_id(encount_dog) do %>
<div class="relative px-1 py-1 flex mx-auto max-w-md bg-gray-200 text-gray-600 dark:bg-gray-500 dark:text-gray-200 bg-opacity-50 rounded-lg shadow-lg mb-2">
  <div class="absolute top-0 right-0 mr-1 mt-1 rounded-full bg-red-400 shadow-md opacity-75">
    <%= link_to send(encount_dog_path, encount_dog), data: { turbo_method: :delete, turbo_confirm: t('shared.encount_dog.destroy_confirmation') } do %>
      <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    <% end %>
  </div>
  <div class="absolute right-2 top-[35%]">
    <%= link_to send(edit_encount_dog_path, encount_dog), data: { "turbo_stream": true } do %>
      <button class="edit-button">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
        </svg>
      </button>
    <% end %> 
  </div>
  <div class="relative w-1/3 my-auto ml-1">
    <%= link_to send(dog_profile_path, encount_dog.dog), data: { turbo_frame: "dog_profile_modal" } do %>
      <div class="w-28 h-28">
        <%= turbo_frame_tag dom_id(encount_dog, :new_encount_dog_badge) do %>
          <%= new_encount_dog_badge(encount_dog) %>
        <% end %>
        <%= encount_dog_thumbnail(encount_dog.dog, encount_dog) %>
      </div>
    <% end %>
    <div class="absolute bottom-0 right-0">
      <% if encount_dog.dog.filming_approval? %>
        <div class="flex">
          <%= render partial: "shared/filming_approval" %>
          <% if encount_dog.dog.sns_post_approval? %>
            <%= render partial: "shared/sns_post_approval" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-2/3 px-2 py-2 flex flex-col">
    <div class="text-2xl font-semibold mt-2">
      <%= encount_dog.dog.name %>
    </div>


    <div class="flex flex-grow items-end">
        <div data-controller="message-modal" class="mb-1 mr-1">
          <% if !encount_dog.memo.blank? %>
            <div data-action="click->message-modal#open">
              <svg class="w-7 h-7" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <path d="M200,32H184V24a8,8,0,0,0-16,0v8H136V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H56A16,16,0,0,0,40,48V200a32,32,0,0,0,32,32H184a32,32,0,0,0,32-32V48A16,16,0,0,0,200,32ZM160,168H96a8,8,0,0,1,0-16h64a8,8,0,0,1,0,16Zm0-32H96a8,8,0,0,1,0-16h64a8,8,0,0,1,0,16Z"/>
              </svg>
            </div>
            <%= render partial: 'shared/encount_dog_memo_modal', locals: { encount_dog: encount_dog } %>
          <% end %>
        </div>
        <div class="w-full">
          <div class="text-sm font-medium">
            <%= l encount_dog.created_at, format: :long2 %>
          </div>
          <div class="flex justify-start">
            <div class="text-sm font-medium flex items-end">
              <%= DogrunPlace.find(encount_dog.dogrun_place_id).name %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>
