<section class="relative py-4 bg-blueGray-50">
  <div class="w-full px-4">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-600 text-white">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 ">
            <h3 class="font-semibold text-lg text-white text-center">
              <%= I18n.t("shared.entries_table.table_of_entries_latest_max_five", times: @Num_of_entry_records_to_display) %>
            </h3>
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto ">
        <table class="table-auto items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600">
                <%= t'defaults.date' %>
              </th>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600">
                <%= t'defaults.entry_at' %>
              </th>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600">
                <%= t'defaults.exit_at' %>
              </th>
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-purple-200 text-gray-600">
                <%= t'.playing_together' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @Num_of_entry_records_to_display.times do |t| %>
              <% if @entries[t].nil? %>
                <tr>
                  <% 4.times do %>
                    <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4">
                    </td>
                  <% end %>
                </tr>
              <% else %>
                <tr>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm font-semibold whitespace-nowrap p-4">
                    <%= l @entries[t].entry_at, format: :long2 %>
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm font-semibold whitespace-nowrap p-4">
                    <%= l @entries[t].entry_at, format: :short2 %>
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm font-semibold whitespace-nowrap p-4">
                    <% if @entries[t].exit_at.nil? %>
                      <%= t('defaults.entering') %>
                    <% else %>
                      <%= l @entries[t].exit_at, format: :short2 %>
                    <% end %>
                  </td>
                  <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4">
                    <ul class="flex">
                      <% encount_dogs_at_this_entry(@entries[t], @dogrun_place).each do |dog| %>
                        <li class="w-12 h-12 mx-1">
                          <%= link_to send(dog_profile_path, dog) do %>
                            <%= dog_thumbnail(dog) %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <p class="text-center md:hidden text-xs text-white"><%= t('defaults.slide_available') %></p>
    </div>
  </div>
</section>
