<%= tag.dialog data: { "message-modal-target": "modal" },
  class: "message-modal" do %>
  <%= message_modal_close_button %>
  <div class="px-2 py-3">
    <div class="px-4 sm:px-6 flex">
      <div class="w-11 h-11 items-center mr-3">
        <%= dog_thumbnail(dog, current_user) %>
      </div>
      <h3 class="text-lg font-bold text-gray-700 my-2"><%= t('defaults.owner_comment') %></h3>
    </div>
    <div class="w-full h-1 bg-gray-700 rounded mt-1 mb-2"></div>
    <div class="mt-4">
      <%= simple_format(dog.owner_comment, class: "text-base font-medium text-left text-gray-700 break-normal") %>
    </div>
  </div>
<% end %>
