<% if pagy.series.size > 1 %>
  <div id="pager" class="flex flex-col items-center my-3">
    <div class="flex text-gray-700">
      <% if pagy.prev %>
        <%= link_to togo_inu_shitsuke_hiroba_entries_path(page: pagy.prev), class: "h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
              <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
        <% end %>
      <% end %>
      <div class="flex h-8 font-medium rounded-full bg-gray-200">
        <% pagy.series.each do |pagy| %>
          <% if pagy.is_a?(String) %>
            <div class="w-8 flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded-full bg-purple-600 text-white"><%= pagy %></div>
          <% elsif pagy.is_a?(Symbol) %>
            <div class="w-8 flex justify-center items-center leading-5 transition duration-150 ease-in rounded-full">...</div>
          <% else %>
            <%= link_to togo_inu_shitsuke_hiroba_entries_path(page: pagy), class:"w-8 flex justify-center items-center cursor-pointer leading-5 transition duration-150 ease-in rounded-full" do %><%= pagy %><% end %>
          <% end %>
        <% end %>
      </div>
      <% if pagy.next %>
        <%= link_to togo_inu_shitsuke_hiroba_entries_path(page: pagy.next), class: "h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
              <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
