<%= tag.dialog class: "p-1 rounded-lg bg-purple-200 shadow-xl w-5/6 md:w-1/3 backdrop:bg-gray-700 backdrop:bg-opacity-50 open:animate-fade-in open:backdrop:animate-fade-in",
  data: { form_modal_target: "modal" } do %>
  <button type="button" data-action="form-modal#close" class="float-right">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <div class="px-4 py-5">
    <h3 class="text-lg leading-6 font-bold text-gray-700">
      <%= simple_format(t'.select_post_type') %>
    </h3>
    <div class="w-full h-1 bg-gray-200 rounded mt-2 mb-2"></div>
    <%= form_with model: post, url: { controller: "posts", action: "create"}, data: { controller: "disable disable-selector", "disable-with-value": t('defaults.processing'), "form-modal-target": 'form' } do |f| %>
      <div class="w-full flex flex-col mt-4">
        <%= f.select :post_type, Post.post_types_i18n.invert, {include_blank: t('.select_it')}, { class: "block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200", data: { "disable_selector-target": "selector", action: "change->disable-selector#selectorValueChanged" } } %>
      </div>
      <%= f.hidden_field :publish_status, value: "non_publish" %>
      <div class="flex items-center justify-center mt-3">
        <%= f.button class: "flex mt-3 font-bold leading-normal text-white py-4 disabled:py-[18px] px-10 disabled:px-[42px] bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-blue-500", data: { "disable-target": "submitButton", "disable_selector-target": "submitButton" } do %>
          <%= spinner_icon_for_form_disable_button %>
          <span data-disable-target="buttonText" data-disable-selector-target="buttonText" class="hidden"><%= 'OK' %></span>
          <%= inoperable_icon %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
