<% registration_numbers.each do |rn| %>
  <%= turbo_frame_tag rn, class: "mx-auto md:ml-0 w-full sm:w-2/3 md:w-1/2 md:px-5 my-3" do %>
    <div class="relative flex border-2 border-gray-400 dark:border-gray-500 px-5 py-2 md:py-4 bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200 bg-opacity-50 rounded-lg shadow-lg flex-col sm:flex-row">
      <%= link_to send(registration_number_path, rn), data: { turbo_method: :delete, turbo_confirm: t('.destroy_confirm') }, class: "absolute text-gray-200 dark:text-gray-700 top-1 right-1 w-6 h-6 p-1 rounded-full aspect-square bg-gray-500 dark:bg-gray-400 shadow-md" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
      <div class="w-28 h-28 sm:w-16 sm:h-16 my-auto">
        <%= link_to send(dog_profile_path, rn.dog) do %>
          <%= dog_thumbnail(rn.dog, current_user) %>
        <% end %>
      </div>

      <div class="flex-grow">
        <div class="md:mt-0 mt-3 mb-1 ml-3">
          <div class="flex">
            <div class="my-auto text-sm sm:text-xs font-light">
              <%= notation_of_registration_number %> : &nbsp;
            </div>
            <div class="my-auto text-lg font-bold">
              <%= rn.registration_number %>
            </div>
          </div>

          <div class="flex text-2xl font-semibold text-gray-700 dark:text-white md:mt-0 text-2xl">
            <%= link_to send(dog_profile_path, rn.dog) do %>
              <%= rn.dog.name %>
            <% end %>
            <div class="flex ml-2 items-center">
              <%= rn.dog.notice_badge %>
              <%= rn.dog.alart_badge %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
