<% registration_numbers.each do |rn| %>
  <%= turbo_frame_tag rn do %>
  <div class="mx-auto w-full max-w-md px-8 py-4 mt-16 bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200 bg-opacity-50 rounded-lg shadow-lg">
    <div class="w-28 h-28 sm:w-16 sm:h-16 flex -mt-16">
      <%= link_to send(dog_profile_path, rn.dog) do %>
        <%= dog_thumbnail(rn.dog, current_user) %>
      <% end %>
    </div>

    <div class="flex mt-2 md:mt-3">
      <div class="my-auto text-sm sm:text-xs font-light whitespace-nowrap">
        <%= t('.registration_number') %> &nbsp;
      </div>
      <div class="my-auto text-lg font-bold">
        <%= rn.registration_number %>
      </div>
    </div>

    <div class="flex mt-2 text-2xl font-semibold text-gray-800 dark:text-white md:mt-0 md:text-3xl">
      <%= rn.dog.name %>
      <div class="flex ml-2 mt-0 md:mt-4">
        <%= rn.dog.notice_badge %>
        <%= rn.dog.alart_badge %>
      </div>
    </div>

    <div class="mt-2 text-gray-700 dark:text-gray-200 grid grid-cols-2">
      
    </div>

    <div class="flex justify-between md:justify-end mt-4">
      <%= link_to send(dog_profile_path, rn.dog) do %>
        <button class="w-24 px-2 py-2 font-medium text-lg text-gray-200 tracking-wide transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <span class="mx-auto font-medium"><%= t'defaults.detail' %></span>
        </button>
      <% end %>
      <%= link_to send(registration_number_path, rn), data: { turbo_method: :delete, turbo_confirm: t('.destroy_confirm') } do %>
        <button class="w-20 px-1 py-1 mt-4 md:ml-3 font-normal text-sm text-gray-200 tracking-wide transition-colors duration-200 transform bg-rose-700 rounded-md hover:bg-rose-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <span class="mx-auto"><%= t'.delete' %></span>
        </button>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
