<%= simple_form_for [dogrun_name, sns_account], data: { controller: 'disable', "disable-with-value": t('defaults.processing') } do |f|  %>
  <%= render 'shared/error_messages_for_modal', object: f.object %>
  <section class="font-semibold text-gray-700">
    <div class="mt-1 flex">
      <svg class="w-8 h-8 my-auto fill-current mr-3 text-gray-500" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.00195 12.002C2.00312 16.9214 5.58036 21.1101 10.439 21.881V14.892H7.90195V12.002H10.442V9.80204C10.3284 8.75958 10.6845 7.72064 11.4136 6.96698C12.1427 6.21332 13.1693 5.82306 14.215 5.90204C14.9655 5.91417 15.7141 5.98101 16.455 6.10205V8.56104H15.191C14.7558 8.50405 14.3183 8.64777 14.0017 8.95171C13.6851 9.25566 13.5237 9.68693 13.563 10.124V12.002H16.334L15.891 14.893H13.563V21.881C18.8174 21.0506 22.502 16.2518 21.9475 10.9611C21.3929 5.67041 16.7932 1.73997 11.4808 2.01722C6.16831 2.29447 2.0028 6.68235 2.00195 12.002Z"></path>
      </svg>
      <div class="w-full">
        <%= f.input :facebook_id, input_html: { class: "font-normal block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: false, hint_html: { class: "text-gray-500 text-sm" }, hint: t('.facebook_id_hint'), error: false %>
      </div>
    </div>
    <div class="mt-4 flex">
      <svg class ="w-8 h-8 my-auto mr-3 text-gray-500" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
      </svg>
      <div class="w-full">
        <%= f.input :instagram_id, input_html: { class: "font-normal block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: false, hint_html: { class: "text-gray-500 text-sm" }, hint: t('.instagram_id_hint'), error: false %>
      </div>
    </div>
    <div class="mt-4 flex">
      <svg class="w-8 h-8 my-auto fill-current mr-2 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
      </svg>
      <div class="w-full">
        <%= f.input :twitter_id, input_html: { class:"font-normal block w-full leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-2 bg-gray-100 border rounded border-gray-200"}, label: false, hint_html: { class: "text-gray-500 text-sm" }, hint: t('.twitter_id_hint'), error: false %>
      </div>
    </div>
    <div class="flex justify-center mt-2">
      <%= f.button :button, class: "flex font-bold leading-normal text-white py-4 px-10 bg-green-700 rounded hover:bg-green-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-green-500", data: { "disable-target": "submitButton" } do %>
        <%= spinner_icon_for_form_disable_button %>
        <span data-disable-target="buttonText"><%= t'defaults.registration' %></span>
      <% end %>
    </div>
  </section>
<% end %>
