<% if current_user.sns_account.nil? %>
  <%= link_to send(@new_sns_account_path), data: { turbo_frame: 'sns_account_form_modal' } do %>
    <button class="flex px-3.5 py-1 text-sm font-normal mr-5 md:mr-1 tracking-wide text-gray-200 capitalize transition-colors duration-200 transform bg-sky-700 rounded-md hover:bg-sky-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
      <span class="text-sm font-medium mr-1"><%= t'defaults.sns' %></span>
      <svg class="w-4 h-4 my-auto" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
      </svg>
    </button>
  <% end %>
<% else %>
  <div class="flex my-2 justify-center md:justify-start">
    <%= link_to send(@edit_sns_account_path, current_user.sns_account), data: { turbo_frame: 'sns_account_form_modal' } do %>
      <button class="flex items-center px-2 py-1 text-gray-500 bg-blue-300 rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80 mr-3">
        <span class="text-sm font-medium mr-1"><%= t'defaults.sns' %></span>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
        </svg>
      </button>
    <% end %>
    <%= link_to send(@sns_account_path, current_user.sns_account), data: { turbo_method: :delete, turbo_confirm: t('defaults.destroy_confirmation') } do %>
      <button class="flex px-2 py-1 text-gray-200 bg-red-400 rounded-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <span class="text-sm font-medium mr-1"><%= t'defaults.sns' %></span>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
        </svg>
      </button>
    <% end %>
  </div>
  <div class="flex justify-center md:justify-start">
    <%= render partial: "shared/sns_account_icons", locals: { sns_account: current_user.sns_account } %>
  </div>
<% end %>
