<div class="mx-auto max-w-[400px] text-left text-gray-500 text-lg font-bold p-2" id="user_detail_content">
  <p><%= UserDetail.human_attribute_name(:zip_code) %></p>
  <h2 class="mt-0.5 text-xl text-gray-700">
    <%= user_detail.zip_code %>
  </h2>
  <p class="mt-2"><%= t('defaults.address') %></p>
  <h2 class="mt-0.5">
    <%= simple_format(user_detail.address_1, class:"text-xl text-gray-700") %>
  </h2>
  <% if !user_detail.address_2.nil? %>
    <h2 class="mt-0.5">
      <%= simple_format(user_detail.address_2, class: "text-xl text-gray-700") %>
    </h2>
  <% end %>
  <p class="mt-2"><%= UserDetail.human_attribute_name(:phone_number) %></p>
  <h2 class="mt-0.5 text-xl text-gray-700">
    <%= user_detail.phone_number %>
  </h2>
  <div class="flex mt-3 mb-2 justify-center">
    <%= link_to send(edit_user_detail_path, user_detail), data: { turbo_frame: 'form_modal' } do %>
      <button class="edit-button mr-6">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
        </svg>
      </button>
    <% end %>
    <%= form_with model: user_detail, url: send(user_detail_path), method: :delete, data: { turbo_confirm: t('defaults.destroy_confirmation') } do |f| %>
      <%= f.button :button, class: "p-2 text-gray-200 rounded-full aspect-square bg-red-400" do %>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
        </svg>
      <% end %>
    <% end %>
  </div>
</div>
