<% content_for(:title, t('.title')) %>
<%= turbo_frame_tag "staff_form_modal" %>
<div class="container bg-gray-300">
  <h2 class="mt-2 ml-2 font-bold text-xl">
    <%= t('.title') %>
  </h2>
  <div class="overflow-x-auto">
    <div class="py-2 w-full px-2">
      <div class= "flex justify-start mr-2">
        <%= link_to new_admin_staff_path, data: { turbo_frame: 'staff_form_modal' } do %>
          <button class="flex px-4 py-2 font-medium mr-5 tracking-wide text-white bg-blue-700 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            <span class="mx-auto"><%= t('defaults.signup') %></span>
          </button>
        <% end %>
      </div>
      <div class="table mt-3 w-full border-collapse bg-gray-100 rounded-lg">
        <div class="table-header-group border-gray-700 border-b">
          <div class="table-row text-left text-gray-900 font-medium text-sm h-[60px]">
            <div class="table-cell px-5 py-4 align-middle">
              <%= t('.notification') %>
            </div>
            <div class="table-cell px-6 py-4 align-middle">
              <%= Staff.human_attribute_name(:name) %>
            </div>
            <div class="table-cell px-6 py-4 align-middle">
              <%= Staff.human_attribute_name(:email) %>
            </div>
            <div class="table-cell px-6 py-4 align-middle">
              <%= t('defaults.delete') %>
            </div>
          </div>
        </div>
        <div id="staffs" class="table-row-group">
          <%= render @staffs %>
        </div>
      </div>
    </div>
    <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
  </div>
</div>
