<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mt-5">
  <p class="text-3xl font-bold leading-7 text-center mb-10"><%= t'.dogrun' %></p>
  <div class="container px-4 py-6 bg-purple-200 w-full shadow rounded p-8 sm:p-10">
    <h2 class="text-3xl font-bold tracking-tight text-center text-gray-600">
        <%= t'.title' %>
    </h2>

    <div class="text-xl sm:text-lg mt-7 text-gray-500 text-bold flex justify-center grid gap-3 grid-cols-1 md:grid-cols-2">
      <div class="col-span-1 text-right sm:text-left"><%= t'.name' %> : </div>
      <div class="col-span-1 text-left ml-3 mb-4"><%= @registration.name %></div>

      <div class="col-span-1 text-right sm:text-left"><%= t'.email' %> : </div>
      <div class="col-span-1 text-left ml-3 mb-4"><%= @registration.email %></div>

      <div class="col-span-1 text-right sm:text-left"><%= t'.password' %> : </div>
      <div class="col-span-1 text-left ml-3 mb-4"><%= @password_dot %></div>

      <div class="col-span-1 text-right sm:text-left"><%= t'.registration_number' %> : </div>
      <div class="col-span-1 text-left ml-3 mb-4"><%= @registration.registration_number %></div>

      <div class="col-span-1 text-right sm:text-left"><%= t'.dog_name' %> : </div>
      <div class="col-span-1 text-left ml-3 mb-4"><%= @registration.dog_name %></div>

      <div class="col-span-1 text-right sm:text-left"><%= t'.castration' %> : </div>
      <% if @registration.castration == 'true' %>
        <div class="col-span-1 text-left ml-3 mb-4"><%= t'.castrated' %></div>
      <% else %>
        <div class="col-span-1 text-left ml-3 mb-4"><%= t'.non_castrated' %></div>
      <% end %>

      <div class="col-span-1 text-right sm:text-left"><%= t'.public' %> : </div>
      <% if @registration.castration == 'true' %>
        <div class="col-span-1 text-left ml-3 mb-4"><%= t'.public' %></div>
      <% else %>
        <div class="col-span-1 text-left ml-3 mb-4"><%= t'.non_public' %></div>
      <% end %>
    </div>

    <div class="flex mt-7 justify-center">
      <input id="link-checkbox" type="checkbox" value="" class="w-5 h-5 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 focus:ring-2" data-controller="checkbox_effects">
      <label for="link-checkbox" class="ml-3 font-bold text-gray-500">
        <a href="/terms_of_service" class="text-gray-300 hover:text-gray-400" ">
          <%= t('defaults.terms_of_service') %>
        </a>
        に同意する 
      </label>
    </div>

    <div class="mt-6 md:flex justify-center">
      <%= simple_form_for @registration, url: togo_inu_shitsuke_hiroba_signup_form_index_path, data: { trubo: false } do |f| %>
        <div class="w-full mt-4 overflow-hidden shadow sm:w-auto sm:mx-3 sm:mt-0 m-auto">
          <%= f.button :submit, t('.back'), name: 'back', class: "items-center justify-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none"%>
        </div>
      <% end %>
      <%= simple_form_for @registration, url: togo_inu_shitsuke_hiroba_signup_form_index_path, data: { turbo: false } do |f| %>
        <div class="w-full overflow-hidden shadow sm:w-auto sm:mx-3 sm:mt-0 mt-4">
          <%= f.button :submit, t('.registration'), data: { action: 'checkbox_effects#updateDisableElements' } , class: "items-center justify-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>

