<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 mt-5">
    <div class="bg-purple-200 w-full shadow rounded p-8 sm:p-12">
      <div class="container flex flex-col items-center px-4 py-12 mx-auto">
          <h2 class="text-3xl font-bold tracking-tight text-gray-600 dark:text-white">
              <%= t'.title' %>
          </h2>

          <p class="block max-w-2xl mt-6 text-xl text-gray-500 text-left">
            <%= t'.name' %>  :  <%= @contact.name %> <br/><br/>
            <%= t'.email' %> : <%= @contact.email %>
          </p>
          
          <p class="block max-w-2xl mt-6 text-xl text-gray-500 text-left w-7/12">
            <%= t'.message' %> <br/>
            <%= simple_format(@contact.message, class: "text-xl text-gray-500 text-left w-7/12") %>
          </p>
          <div class="mt-6 flex">
            <%= simple_form_for @contact, data: { trubo: false } do |f| %>
              <div class="inline-flex w-full mt-4 overflow-hidden shadow sm:w-auto sm:mx-3 sm:mt-0">
                <%= f.button :submit, t('.back'), name: 'back', class: "items-center justify-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %>
              </div>
            <% end %>
            <%= simple_form_for @contact, url: contacts_path, data: { turbo: false } do |f| %>
              <div class="inline-flex w-full overflow-hidden shadow sm:w-auto sm:mx-3 ">
                <%= f.button :submit, t('.send'), class: "items-center justify-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %> 
              </div>
            <% end %>
          </div>
      </div>
    </div>
</div>

