<% content_for(:title, t('.title')) %>
<div class="max-w-5xl mx-auto px-6 mt-5">
  <div class="bg-purple-200 w-full shadow rounded p-8 sm:p-10">
    <div class="container flex flex-col px-4 py-6 mx-auto">
        <h2 class="sm:text-xl md:text-2xl lg:text-3xl font-bold tracking-tight text-center text-gray-600">
            <%= t'.title' %>
        </h2>
        <div class="md:flex items-center">
          <div class="w-full md:w-1/2 flex flex-col">
            <p class="block max-w-2xl mt-6 sm:text-lg md:text-xl text-gray-500 text-left">
              <%= t'.name' %>  :<br>
              <%= @contact.name %>
            </p>
          </div>
          <div class="w-full md:w-1/2 flex flex-col">
            <p class="block max-w-2xl mt-6 sm:text-lg md:text-xl text-gray-500 text-left">
              <%= t'.email' %> :<br>
              <%= @contact.email %>
            </p>
          </div>
        </div>
        <div class="block w-11/12 mt-6">
          <p class="sm:text-lg md:text-xl text-gray-500">
            <%= t'.message' %> <br>
          </p>
          <span class="sm:text-lg md:text-xl text-gray-500 w-96 min-w-max break-all">
            <%= @contact.message %>
          </span>
        </div>
        
        <div class="mt-6 md:flex justify-center">
          <%= simple_form_for @contact, data: { trubo: false } do |f| %>
            <div class="w-full mt-4 overflow-hidden shadow sm:w-auto sm:mx-3 sm:mt-0">
              <%= f.button :submit, t('.back'), name: 'back', class: "items-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %>
            </div>
          <% end %>
          <%= simple_form_for @contact, url: contacts_path, data: { turbo: false } do |f| %>
            <div class="w-full overflow-hidden shadow sm:w-auto sm:mx-3 sm:mt-0 mt-4">
              <%= f.button :submit, t('.send'), class: "inline-block items-center w-full px-10 py-4 text-base font-semibold text-white bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %> 
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

