<%= turbo_frame_tag dom_id(dogrun_place, "dogrun_board") do %>
  <% if !publishing_post.blank? %>
    <div class="relative flex justify-center">
      <%= post_viewing(publishing_post[0]) %>
    </div>
    <div class="flex items-center justify-between">
      <%= link_to cancel_to_publish_admin_post_path(publishing_post[0]), class:"mt-2 rounded-full bg-red-400 shadow-lg p-1", data: { turbo_method: :patch, turbo_confirm: t('admin.posts.post_icon.cancel_to_publish_confirmation') } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-200" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M6 18L18 6M6 6l12 12" />
        </svg>
      <% end %>
      <div class="flex text-gray-300 items-center justify-end mt-2">
        <p class="text-base font-base mr-3"><%= t('defaults.publishing_limit') %> :</p>
        <h3 class="text-lg font-semibold">
          <%= l publishing_post[0].publish_limit, format: :long %>
        </h3>
      </div>
    </div>
  <% else %>
    <%= render partial: "dogrun_board_blank", locals: { dogrun_place: dogrun_place } %>
  <% end %>
<% end %>
