<tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
  <td class="px-3 py-2 whitespace-nowrap text-sm font-medium text-gray-900">
    <% if post.is_publishing? %>
      <%= link_to cancel_to_publish_admin_post_path(post), data: { turbo_method: :patch, turbo_confirm: t('.cancel_to_publish_confirmation') }, class: "flex justify-center ml-1 py-2 px-4" do %>
        <svg class="w-6 h-6" viewBox="0 0 24 24" stroke-width="1.92" fill="none" xmlns="http://www.w3.org/2000/svg" color="#16df77">
          <path d="M9.5 14.5L3 21M5 9.485l9.193 9.193 1.697-1.697-.393-3.787 5.51-4.673-5.85-5.85-4.674 5.51-3.786-.393L5 9.485z" stroke="#16df77" stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      <% end %>
    <% else %>
      <%= link_to set_publish_limit_admin_post_path(post), class: "flex justify-center ml-1 py-2 px-4" do %>
          <svg class="w-5 h-5" viewBox="0 0 24 24" stroke-width="1.92" fill="none" xmlns="http://www.w3.org/2000/svg" color="#df1616">
            <path d="M9.5 14.5L3 21M7.676 7.89l-.979-.102L5 9.485l9.193 9.193 1.697-1.697-.102-.981m-4.303-9l3.672-4.329 5.85 5.85-4.308 3.654M3 3l18 18" stroke="#df1616" stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
      <% end %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <%= l post.created_at, format: :long %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <%= post.user.name %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <%= post.post_type_i18n %>
  </td>
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap">
    <% if post.article? %>
      -
    <% else %>
      <%= post.embed.embed_type_i18n %>
    <% end %>
  </td>
  <!--
  <td class="text-sm text-gray-900 font-light px-3 py-2 whitespace-nowrap pl-10">
    <button data-action="click->modal2#open">
      <svg class="w-7 h-7" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
        <path d="M24 36C35.0457 36 44 24 44 24C44 24 35.0457 12 24 12C12.9543 12 4 24 4 24C4 24 12.9543 36 24 36Z" fill="none" stroke="#333" stroke-width="1" stroke-linejoin="round"/>
        <path d="M24 29C26.7614 29 29 26.7614 29 24C29 21.2386 26.7614 19 24 19C21.2386 19 19 21.2386 19 24C19 26.7614 21.2386 29 24 29Z" fill="none" stroke="#333" stroke-width="1" stroke-linejoin="round"/>
      </svg>
    </button>
  </td>
  -->
  <td>
    <% if post.article? %>
      <%= link_to edit_admin_article_path(post), data: { turbo_confirm: t('defaults.edit_confirmation') }, class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
        <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
        </svg>
      <% end %>
    <% else %>
      <%= link_to edit_admin_embed_path(post), data: { turbo_confirm: t('defaults.edit_confirmation') }, class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
        <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
        </svg>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to admin_post_path(post), data: { turbo_method: :delete, turbo_confirm: t('defaults.destroy_confirmation') }, class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
    <% end %>
  </td>
</tr>
<%= render partial: 'admin/posts/preview_modal', locals: { post: post } %>
