<%= turbo_stream_from @dogrun_place, "admin_posts_index" %>
<% content_for(:title, t('.title')) %>
<div class="container bg-gray-300 flex flex-col" data-controller="form-modal">
  <h2 class="mt-2 ml-2 font-bold text-xl">
    <%= t('.title') %>
  </h2>
  <%= turbo_frame_tag "set_publish_limit_form_modal" %>
  <div class="py-2 w-full px-0 md:px-2">
    <div class="flex-col mb-3">
      <div class="flex-col">
        <div class="flex justify-center">
          <p class="text-lg font-semibold ml-2"><%= t('defaults.on_board') %></p>
        </div>
        <div class="relative mx-auto py-2 px-4 max-w-min rounded-xl border-2 border-neutral-400
          bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]">
          <%= link_to('javascript:void(0);', onclick: "window.location.reload();", 
              class: "z-10 absolute top-1 right-1 rounded-full bg-amber-500 w-7 h-7 ml-2 flex focus:outline-none shadow-xl drop-shadow-lg") do %>
            <svg class="w-5 h-5 text-white mx-auto my-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <%= turbo_frame_tag dom_id(@dogrun_place, "dogrun_board"), src: "posts/dogrun_board" %>
        </div>
      </div>
      <% if !@publishing_post.blank? %>
        <div class="flex-col ml-5 text-gray-700">
          <p class="text-base font-base"><%= t('defaults.publishing_limit') %></p>
          <h3 class="text-lg font-semibold">
            <% if !@publishing_post.blank? %>
              <%= l @publishing_post[0].publish_limit, format: :long %>
            <% else %>
              -
            <% end %>
          </h3>
        </div>
      <% end %>
    </div>
    <%= render partial: 'admin/posts/search_form' %>
    <div class= "flex justify-start ml-1">
      <button data-action="click->form-modal#open" class="mt-2 flex px-4 py-2 font-medium ml-2 text-white bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <span class="mx-1"><%= t('defaults.create_post') %></span>
      </button>
    </div>
    <%= render partial: 'shared/post_form', locals: { post: @post } %>
    <div class="overflow-x-auto mt-2">
      <div class="table my-2 px-2 w-full border-collapse bg-gray-100 rounded-lg">
        <%= render partial: "post_index_table_header" %>
        <%= turbo_frame_tag dom_id(@dogrun_place, "posts"), class: "table-row-group" do %>
          <%= render @posts %>
        <% end %>
      </div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>
