<% content_for(:title, t('.title')) %>
<div class="container bg-gray-300 flex flex-col" data-controller="form-modal">
  <h2 class="mt-2 ml-2 font-bold text-xl">
    <%= t('.title') %>
  </h2>
  <%= turbo_frame_tag "set_publish_limit_form_modal" %>
  <div class="py-2 w-full px-0 md:px-2">
    <div class="flex-col mb-3">
      <div class="flex-col">
        <div class="mx-auto py-2 px-4 max-w-min rounded-xl border-2 border-neutral-400
          bg-[url('https://res.cloudinary.com/hryerpkcw/image/upload/f_auto,g_center,q_auto/v1671380081/w4ygbtfdkxu3gzrixk6u.jpg')]">
          <h3 class="mx-auto w-2/3 flex justify-center p-[4px] text-white rounded-xl font-bold text-xl text-opacity-80 bg-gray-500 backdrop-blur bg-opacity-30" style="box-shadow: inset 1px 3px 6px rgba( 0, 0, 0, 0.5);">
            <%= t('defaults.on_board') %>
          </h3>
          <%= turbo_frame_tag dom_id(@dogrun_place, "dogrun_board"), src: "posts/dogrun_board" %>
        </div>
      </div>
      <% if !@publishing_post.blank? %>
        <div class="flex-col ml-5">
          <p class="text-black"><%= t('defaults.publishing_limit') %></p>
          <h3>
            <% if !@publishing_post.blank? %>
              <%= l @publishing_post[0].publish_limit, format: :long %>
            <% else %>
              -
            <% end %>
          </h3>
        </div>
      <% end %>
    </div>
    <%= render partial: 'admin/posts/search_form' %>
    <div class= "flex justify-start ml-1">
      <button data-action="click->form-modal#open" class="mt-2 flex px-4 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <span class="mx-1"><%= t('defaults.create_post') %></span>
      </button>
    </div>
    <h2 class="text-gray-700 text-sm flex items-end justify-end mr-7 mt-3">
      <%= t('defaults.search_results_is')%>
        <span class="text-xl mr-2 ml-2">
          <%= @pagy.vars[:count].nil? ? 0 : @pagy.vars[:count] %> 
        </span>
      <%= t('defaults.search_results_unit') %>
    </h2>
    <%= render partial: 'shared/post_form', locals: { post: @post } %>
    <div class="overflow-x-auto">
      <div class="table my-2 px-2 w-full border-collapse bg-gray-100 rounded-lg">
        <%= render partial: "post_index_table_header" %>
        <%= turbo_frame_tag dom_id(@dogrun_place, "posts"), class: "table-row-group" do %>
          <%= render @posts_results %>
        <% end %>
      </div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>
