<tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to edit_admin_dogrun_place_path(dogrun_place), 
        data: { turbo_confirm: t('defaults.edit_confirmation'), turbo_frame: "_content" }, 
        class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
      <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
      </svg>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= dogrun_place.id %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <div class="w-12 h-12 flex justify-center items-center">
      <%= dogrun_logo(dogrun_place) %>
    </div>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= dogrun_place.name %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <% if dogrun_place.pref.blank? %>
      -
    <% else %>
      <%= dogrun_place.pref.name %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= dogrun_place.address %>
  </td>
  <td class="flex text-sm text-gray-900 font-light px-6 py-8 whitespace-nowrap">
    <% if dogrun_place.opening_time.blank? || dogrun_place.closing_time.blank? %>
      -
    <% else %>
      <%= l dogrun_place.opening_time, format: :short2 %>
      〜
      <%= l dogrun_place.closing_time, format: :short2 %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <% if dogrun_place.web_site.blank? %>
    -
    <% else %>
      <%= link_to dogrun_place.web_site, target: :_blank, rel: "noopener noreferrer" do %>
        <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
        </svg>
      <% end %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <% if !dogrun_place.sns_account.blank? %>
      <%= render partial: "shared/sns_account_icons", locals: { sns_account: dogrun_place.sns_account } %>
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= truncate(dogrun_place.description, length: 20, separator: '.') %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= truncate(dogrun_place.usage_fee, length: 20, seperator: '.') %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= dogrun_place.site_area %>
  </td>
  <td class="text-xs text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <% dogrun_place.facilities.each do |facility| %>
      <span class="leading-none text-white py-2 px-2 bg-blue-700 rounded ml-2"><%= dogrun_facility_view(facility.name) %></span>
    <% end %>
  </td>
</tr>
