<div class="table-row bg-gray-100 border-b hover:bg-gray-50 h-[80px] whitespace-nowrap text-sm font-light text-gray-900">
  <div class="table-cell align-middle">
    <%= link_to edit_admin_dogrun_place_path(dogrun_place), 
        data: { turbo_method: :get, turbo_confirm: t('defaults.edit_confirmation') }, 
        class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
      <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
      </svg>
    <% end %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= dogrun_place.id %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <div class="w-12 h-12 flex justify-center items-center">
      <%= link_to admin_dogrun_place_path(dogrun_place) do %>
        <%= dogrun_logo(dogrun_place) %>
      <% end %>
    </div>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= dogrun_place.name %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <% if dogrun_place.pref.blank? %>
      -
    <% else %>
      <%= dogrun_place.pref.name %>
    <% end %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= dogrun_place.address %>
  </div>
  <div class="table-cell flex px-6 py-8 align-middle">
    <% if dogrun_place.opening_time.blank? || dogrun_place.closing_time.blank? %>
      -
    <% else %>
      <%= l dogrun_place.opening_time, format: :short2 %>
      〜
      <%= l dogrun_place.closing_time, format: :short2 %>
    <% end %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <% if dogrun_place.web_site.blank? %>
    -
    <% else %>
      <%= link_to dogrun_place.web_site, target: :_blank, rel: "noopener noreferrer" do %>
        <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
        </svg>
      <% end %>
    <% end %>
  </div>
  <div class="table-cell px-6 py-4 align-middle flex justify-center items-center">
    <% if !dogrun_place.sns_account.blank? %>
      <%= render partial: "shared/sns_icon_part", locals: { sns_account: dogrun_place.sns_account } %>
    <% else %>
    -
    <% end %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= truncate(dogrun_place.description, length: 20, separator: '.') %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= truncate(dogrun_place.usage_fee, length: 20, seperator: '.') %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= dogrun_place.site_area %>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <% dogrun_place.facilities.each do |facility| %>
      <span class="leading-none text-white py-2 px-2 bg-blue-700 rounded ml-2"><%= dogrun_facility_view(facility.name) %></span>
    <% end %>
  </div>
</div>
