<p class="text-3xl font-bold leading-7 text-center mb-5"><%= t'.title' %></p>
<%= form_with(url: togo_inu_shitsuke_hiroba_login_path, scope: :session, local: true, data: { turbo: false } ) do |f| %>
  <div class="w-full flex flex-col mt-8">
    <div class="md:flex items-center">
      <div class="w-full md:w-1/2 flex flex-col">
        <%= f.label :email, t('defaults.email') %>
        <%= f.email_field :email, class: "w-8/12 block leading-none text-gray-900 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" %>
        <br>
      </div>
      &nbsp; 
      &nbsp; 
      <div class="w-full md:w-1/2 flex flex-col">
        <%= f.label :password, t('defaults.password') %>
        <%= f.password_field :password, class: "w-8/12 block leading-none text-gray-900 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" %>
        <div>
          <%= check_box_tag :remember, params[:remember], true %>
          <%= label_tag t('defaults.remember') %>
        </div>
      </div>
    </div>
    <div class="flex mt-5 justify-center">
      <%= t('.password_reset') %>
      &nbsp;
      <a href="/password_resets/new", target="_blank", rel="noopener noreferrer" class="text-gray-600 hover:text-gray-400">
        <%= t('defaults.here') %>
      </a>
    </div>
    <div class="flex items-center justify-center mt-3">
      <%= button_tag type: 'submit', class: "flex mt-3 font-bold h-6 leading-4 text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
        &nbsp;
        <span class="text">
          <%= t('defaults.login') %>
        </span>
      <% end %>
    </div>
    <div class="flex mt-3 justify-center">
      <%= t('defaults.signup_is') %>
      &nbsp;
      <a href="/togo_inu_shitsuke_hiroba/signup/", target="_blank", rel="noopener noreferrer" class="text-gray-600 hover:text-gray-400">
        <%= t('defaults.here') %>
      </a>
    </div>
  </div>
<% end %>
