<% content_for(:title, @title) %>
<div class="container bg-gray-300 w-full flex flex-col">
  <div class="py-2 w-full px-2">
    <h2 class="my-2 ml-2 font-bold text-lg"><%= @title %></h2>
    <%= render partial: 'admin/users/search_form' %>
    <div class="block md:flex mt-3">
      <% if current_page?(action: 'index') %>
        <%= link_to new_admin_user_path, 
            class: "flex justify-center items-center mt-2 md:mt-0 w-2/3 md:w-1/5 mx-7 px-4 py-2 h-10 font-medium text-center tracking-wide text-white bg-sky-600 rounded-md hover:bg-sky-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" do %>
          <svg class="w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
          </svg>
          <%= t('.admin_user_create')%>
        <% end %>
      <% else %>
        <h2 class="text-gray-700 text-sm flex items-end justify-end mr-7 mt-3">
          <%= t('defaults.search_results_is')%>
          <span class="text-xl mr-2 ml-2">
            <%= @pagy.vars[:count].nil? ? 0 : @pagy.vars[:count] %> 
          </span>
          <%= t('defaults.search_results_unit') %>
        </h2>
      <% end %>
    </div>
    <div class="overflow-x-auto">
      <div class="table rounded-lg bg-gray-100 border-collapse mt-3 w-full">
        <div class="table-header-group border-gray-700 border-b">
          <div class="table-row text-left text-sm text-medium text-gray-900 h-[60px]">
            <div class="table-cell px-1 align-middle text-center">
              ID
            </div>
            <div class="table-cell px-6 align-middle">
              <%= t('defaults.name')%>
            </div>
            <div class="table-cell px-6 align-middle">
              <%= t('defaults.email')%>
            </div>
            <div class="table-cell px-6 align-middle text-center">
              <%= t('defaults.registration_dogs_num') %>
            </div>
            <div class="table-cell px-6 align-middle text-center">
              <%= t('.account_frozen') %>
            </div>
            <div class="table-cell px-6 align-middle text-center">
              <%= t('defaults.delete') %>
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <%= content %>
        </div>
      </div>
    </div>
    <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
  </div>
</div>
