<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <% if current_page?(controller: "posts", action: "dogrun_board") || current_page?(controller: "dashboards", action: "index") || current_page?(controller: "dashboards", action: "grand_admin_index") %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <title><%= page_title(yield(:title)) %></title>
    <%= Gon::Base.render_data %>
    <%= render 'application/favicon' %>
    <%= render 'application/google_tag' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-gray-800 font-sans">
    <%= render partial: 'admin/shared/navbar' %>
    <div id="flash" class="z-50 flex-col fixed top-16 right-1">
      <%= render 'shared/flash' %>
    </div>
    <%= tag.main class: "relative" do %>
      <div class="flex">
        <%= render partial: 'admin/shared/sidebar' %>
        <%= yield %>
      </div>
    <% end %>
    <%= render partial: 'admin/shared/footer' %>
  </body>
</html>
