<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

    <title><%= page_title(yield(:title)) %></title>
    <%= render 'application/favicon' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-gray-800 font-sans leading-normal tracking-normal">
    <%= render partial: 'admin/shared/navbar' %>
    <%= render partial: 'shared/flash' %>
    <main>
      <div class="flex flex-row" data-controller="service_worker">
        <%= render partial: 'admin/shared/sidebar' %>
        <%= yield %>
      </div>
      <%= render partial: 'admin/shared/footer' %>
    </main>
  </body>
</html>
