<%= turbo_frame_tag "form_modal" do %>
  <%= tag.div data: { controller: "turbo-form-modal", "turbo-form-modal_target": "modal", action: "turbo:submit-end->turbo-form-modal#submitEnd" }, 
      class: "animate-fade-in flex items-center justify-center fixed z-40 inset-0 h-full p-3" do %>
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <%= turbo_frame_modal_close_button %>
    <div class="turbo-form-modal bg-slate-300 backdrop-blur bg-opacity-75 max-w-[400px]">
      <p class="text-2xl text-gray-700 font-bold leading-7 text-center mb-2 pt-4">
        <%= @title %>
      </p>
      <div class="w-full p-4 py-2">
        <%= content %>
      </div>
    </div>
  <% end %>
<% end%>

