<%= turbo_frame_tag entry, data: { controller: "form-modal" },
  class: "table-row bg-gray-100 border-b hover:bg-gray-50 h-[60px] whitespace-nowrap text-sm font-light text-gray-900" do %>
  <div class="table-cell px-6 py-4 align-middle">
    <%= l entry.entry_at, format: :long2 %>
  </div>
  <div class="table-cell px-3 py-4 align-middle text-center">
    <%= entry.registration_number.registration_number %>
  </div>
  <div class="table-cell px-3 py-4 align-middle">
    <%= entry.dog.user.name %>
  </div>
  <div class="table-cell px-3 py-2 align-middle">
    <div class="relative w-12 h-12 mx-auto my-auto">
      <%= link_to admin_dog_path(entry.dog), data: { turbo_frame: "dog_profile_modal" } do %>
        <%= dog_thumbnail_for_admin(entry.dog) %>
      <% end %>
      <div class="absolute -top-1.5 -left-3">
        <%= birthday_marker(entry.dog) %>
      </div>
    </div>
  </div>
  <div class="table-cell px-6 py-4 align-middle">
    <%= entry.dog.name %>
  </div>
  <div class="table-cell px-6 py-4 align-middle text-center">
    <%= l entry.entry_at, format: :short2 %>
  </div>
  <div class="table-cell px-6 py-4 align-middle text-center">
    <% if entry.exit_at.nil? %>
      <p class="text-green-400 font-bold">
      <%= t('admin.entries.entry.entering') %>
      </p>
    <% else %>
      <%= l entry.exit_at, format: :short2 %>
    <% end %>
  </div>
  <div class="table-cell align-middle text-center">
    <div class="w-6 mx-auto">
    <% if entry.exit_at.nil? %>
      <%= link_to exit_command_selector_admin_entry_path(entry), data: { turbo_frame: "exit_command_selector_modal" }, 
          class: "text-blue-500 hover:text-blue-400 rounded shadow-md" do %>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"></path>
        </svg>
      <% end %>
    <% else %>
      <p class="mx-auto">-</p>
    <% end %>
    </div>
  </div>
  <div class="table-cell align-middle">
    <div class="w-5 mx-auto">
    <%= link_to admin_entry_path(entry), data: { turbo_method: :delete, turbo_confirm: t('defaults.destroy_confirmation') }, 
        class: "mx-6 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
    <% end %>
    </div>
  </div>
<% end %>
