<%= turbo_frame_tag "exit_command_selector_modal" do %>
  <div data-controller="turbo-form-modal" data-turbo-form-modal-target="modal" data-action="turbo:submit-end->turbo-form-modal#submitEnd"
    class="animate-fade-in flex items-center justify-center fixed z-30 inset-0 h-full p-3">
    <button data-action="turbo-form-modal#hideModal" class="cursor-default w-full h-full fixed inset-0 bg-gray-700 bg-opacity-50"></button>
    <%= turbo_frame_modal_close_button %>
    <div class="turbo-form-modal bg-slate-300 md:w-1/3 backdrop-blur bg-opacity-80">
      <h3 class="text-xl font-bold text-center text-gray-700 relative">
        <%= t('.select_exit_operation_type') %>
      </h3>
      <div class="w-full h-1 bg-gray-200 rounded mt-2 mb-2"></div>
      <%= form_with url: admin_entry_path(@entry), method: :patch, 
        data: { controller: "disable-confirm", "disable-confirm-with-value": t('defaults.processing'), "form-modal-target": 'form' } do |f| %>
        <div class="flex items-center justify-center mt-3">
          <%= f.button name: "force_flg", value: "0", data: { "disable-confirm-target": "submitButton", "turbo_confirm": t(".exit_confirmation") },
            class: "flex font-bold leading-normal text-white py-4 disabled:py-[18px] px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none disabled:cursor-not-allowed disabled:bg-gray-500" do %>
            <%= spinner_icon_for_form_disable_button %>
            <span data-disable-confirm-target="buttonText"><%= t('defaults.exit') %></span>
          <% end %>
          
          <%= f.button name: "force_flg", value: "1", data: { "disable-confirm-target": "submitButton", "turbo_confirm": t('.force_exit_confirmation')  },
            class: "disabled:hidden flex ml-6 font-bold leading-normal text-white py-4 px-7 bg-sky-700 rounded hover:bg-sky-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" do %>
            <span data-disable-confirm-target="buttonText"><%= t('defaults.force_exit') %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
