<%= turbo_stream_from @dogrun_place, "admin_entries_index" %>
<% content_for(:title, t('.title')) %>
<%= turbo_frame_tag "dog_profile_modal" %>
<%= turbo_frame_tag "exit_command_selector_modal" %>
<div class="bg-gray-300 w-full container">
  <div class="py-2 px-2">
    <h2 class="mt-2 ml-2 font-bold text-xl mb-3"><%= t('.title') %></h2>
    <%= render partial: 'admin/entries/search_form' %>
    <div class="text-gray-700 text-sm mt-3 flex justify-start mr-3">
      <p class="items-start mr-3"><%= t('.site_in') %></p>
      <%= turbo_frame_tag dom_id(@dogrun_place, :admin_num_of_playing_dogs) do %>
        <%= render partial: "num_of_playing_dogs", locals: { num_of_playing_dogs: @num_of_playing_dogs } %>
      <% end %>
    </div>
    <div class="overflow-x-auto">
      <div class="table rounded-lg py-2 px-4 bg-gray-100 border-collapse mt-3 w-full">
        <%= render partial: "entry_index_table_header" %>
        <%= turbo_frame_tag dom_id(@dogrun_place, "admin_entries"), class: "table-row-group" do %>
          <%= render @entries %>
        <% end %>
      </div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>
