<% content_for(:title, t('.title')) %>
<div class="container bg-gray-300 flex flex-col">
  <div class="py-2 px-2">
    <h2 class="mt-2 ml-2 font-bold text-xl mb-3"><%= t('.title') %></h2>
    <%= render partial: 'admin/entries/search_form' %>
    <h2 class="text-gray-700 text-sm flex items-end justify-end mr-7 mt-3">
      <%= t('defaults.search_results_is')%>
      <span class="text-xl mr-2 ml-2">
        <%= @pagy.vars[:count].blank? ? 0 : @pagy.vars[:count] %> 
      </span>
      <%= t('defaults.search_results_unit') %>
    </h2>
    <div class="overflow-x-auto">
      <div class="table rounded-lg py-2 px-4 bg-gray-100 border-collapse mt-3 w-full">
        <%= render partial: "entry_index_table_header" %>
        <div class="table-row-group">
          <%= render @entries_results %>
        </div>
      </div>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>
