  <%= turbo_frame_tag "graph_section" do %>
  <!--Graph Section-->
  <div class="flex flex-row flex-wrap flex-grow mt-2">
    <!--Daily Total Entries Graph-->
    <div class="w-full p-3">
      <div class="bg-white border-transparent rounded-lg shadow-xl">
        <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
          <h2 class="font-bold uppercase text-gray-600">
            <%= t('.daily_entries_graph') %>
          </h2>
        </div>
        <div class="p-1">
          <%= area_chart @entries_daily, library: { animation: { startup: true, duration: 1000 } }, curve: false, width: "100%", height: "300px" ,min: 0, max: "undefined", xmin: @one_month_ago, xmax: @today, label: false, xtitle: t('.date'), ytitle: t('.total_entries') %>
        </div>
      </div>
    </div>
    <!--/Daily Total Entries Graph-->

    <!--Monthly Total Entries Graph-->
    <div class="w-full p-3">
      <div class="bg-white border-transparent rounded-lg shadow-xl">
        <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
          <h2 class="font-bold uppercase text-gray-600">
            <%= t('.monthly_entries_graph') %>
          </h2>
        </div>
        <div class="p-1">
          <%= area_chart @entries_monthly, library: { animation: { startup: true, duration: 1000 }, colors: ['#6ee7b7'] }, width: "100%", height: "300px" ,min: 0, max: "undefined", xmin:@one_year_ago, xmax:@today, label: false, xtitle: t('.month'), ytitle: t('.total_entries') %>
        </div>
      </div>
    </div>
    <!--/Monthly Total Entries Graph-->
  </div>
  <% end %>
