<%= simple_form_for @user, url: admin_users_path, data: { trubo: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="w-full flex flex-col mt-8">
    <div class="md:flex items-center">
      <div class="w-full md:w-1/2 flex flex-col"> 
        <%= f.label t'.name', label_html: { class: "font-bold leading-none" } %>
        <%= f.input :name, input_html: { class: "block w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint: false, error: false %>
      </div>
      <div class="w-full md:w-1/2 flex flex-col mt-7 md:mt-0">
        <%= f.label :email, label_html: { class: "font-bold leading-none" } %>
        <%= f.input :email, input_html: { class: "block w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint: false, error: false %>
      </div>
    </div>
    <div class="md:flex items-center">
      <div class="w-full md:w-1/2 flex flex-col mt-7"> 
        <%= f.label :password, label_html: { class: "font-bold leading-none" } %>
        <%= f.input :password, input_html: { class: "block w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint_html: { class: "text-sm block;"}, hint: 'パスワードは半角英数字6文字以上にしてください', required: true, error: false %>
      </div>
      <div class="w-full md:w-1/2 flex flex-col mt-7 md:mt-0"> 
        <%= f.label :password_confirmation, label_html: { class: "font-bold leading-none" } %>
        <%= f.input :password_confirmation, input_html: { class: "block w-11/12 leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200" }, label: false, hint: false, required: true, error: false %>
      </div>
    </div>
    <div class="w-1/2 mt-7">
      <%= f.label :dogrun_place_id, label_html: { class: "font-bold leading-none" } %>
      <%= f.input :dogrun_place_id, as: :select, label: false, collection: @dogrun_places, input_html: { class: "block leading-none text-gray-900 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-gray-100 border rounded border-gray-200"} %>
    </div>
    <%= f.hidden_field :deactivation, value: 'account_activated' %>
    <%= f.hidden_field :enable_notification, value: false %>
    <%= f.hidden_field :role, value: 'admin' %>
    <div class="hidden">
      <%= check_box_tag :agreement, true, params[:agreement] %>
    </div>
  </div>
  <div class="flex items-center justify-center mt-3">
    <%= f.button :submit, t('defaults.registration'), class: "mt-3 font-bold leading-normal text-white py-4 px-10 bg-blue-700 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none" %>
  </div>
<% end %> 
