<%= turbo_frame_tag user, class: "table-row bg-gray-100 border-b hover:bg-gray-50 h-[60px] whitespace-nowrap text-sm font-light text-gray-900 text-left" do %>
  <div class="table-cell px-1 align-middle text-center">
    <%= user.id %>
  </div>
  <div class="table-cell px-6 align-middle">
    <%= user.name %>
  </div>
  <div class="table-cell px-6 align-middle">
    <%= user.email %>
  </div>
  <div class="table-cell px-6 align-middle text-center">
    <%= user.dogs.count %>
  </div>
  <div class="table-cell px-6 flex justify-center align-middle">
    <div class="flex justify-center">
      <% if !user.account_frozen? %>
        <%= link_to deactivation_admin_user_path(user), 
            data: { turbo_method: :patch, turbo_confirm: t('.deactivation_confirmation') }, 
            class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
          </svg>
        <% end %>
      <% else %>
        <%= link_to activation_admin_user_path(user), 
            data: { turbo_method: :patch, turbo_confirm: t('.activation_confirmation') }, 
            class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="table-cell px-6 align-middle">
    <div class="flex justify-center">
      <%= link_to admin_user_path(user), 
          data: { turbo_method: :delete, turbo_confirm: t('defaults.destroy_confirmation') }, 
          class: "flex justify-left ml-2 text-sm text-gray-900 hover:text-gray-500 py-2 px-4" do %>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      <% end %>
    </div>
  </div>
<% end %>
