<% content_for(:title, @title) %>
<div class="max-w-5xl md:mx-auto px-1 sm:px-6 lg:px-8 py-5 bg-purple-200 rounded-lg">
  <h1 class='text-3xl text-gray-700 font-semibold text-center mb-3'>
    <%= simple_format(@title) %>
  </h1>
  <%= render partial: 'shared/search_form', locals: { q: @q, applicable_path: @applicable_path, search_field_placeholder: @search_field_placeholder } %>
  <p class="text-center md:hidden text-xs text-gray-600 mt-3"><%= t('defaults.thumbnail_tap') %></p>
  <div class="container w-full mx-auto sm:p-10">
    <div class="block w-full overflow-x-auto">
      <%= content %>
      <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
    </div>
  </div>
</div>

