<%= tag.dialog data: { "message-modal-target": "modal" },
  class: "message-modal" do %>
  <%= message_modal_close_button %>
  <div class="px-2 py-3 text-left">
    <div class="px-4 sm:px-6">
      <h3 class="text-xl font-bold text-gray-700 my-2 text-center"><%= t('.title') %></h3>
    </div>
    <div class="w-full h-1 bg-gray-700 text-base rounded mt-1 mb-2"></div>
      <div class="w-11/12 mx-auto text-gray-700">
        <%= t('.meaning_of_icons') %>
      </div>
    <div class="w-full table py-2 px-4 border-collapse mt-3 mx-auto bg-gray-50 rounded-sm">
      <div class="table-header-group border-gray-600 border-b">
        <div class="table-row text-center text-sm font-normal text-gray-900 h-[41px]">
          <div class="w-[20%] table-cell border-gray-500 border-r border-opacity-50 align-middle">
            <%= t('.icon') %>
          </div>
          <div class="w-[25%] table-cell align-middle">
            <%= t('.rabies') %>
          </div>
          <div class="w-[30%] table-cell align-middle">
            <%= t('.mixed') %>
          </div>
          <div class="w-[25%] table-cell align-middle">
            <%= t('.license_plate') %>
          </div>
        </div>
      </div>
      <div class="table-row-group text-sm font-normal">
        <div class="table-row border-b border-gray-500 h-[41px]">
          <div class="table-cell border-r border-gray-500 border-opacity-50 align-middle">
            <svg class="mx-auto w-6 h-6 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>
        </div>
        <div class="table-row border-b border-gray-500 h-[41px]">
          <div class="table-cell border-r border-gray-500 border-opacity-50 align-middle">
            <svg class="mx-auto w-6 h-6 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-green-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>
          <div class="table-cell align-middle">
            <svg class="mx-auto w-5 h-5 text-red-500" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </div>
        </div>
        <div class="table-row h-[41px]">
          <div class="table-cell text-center border-r border-gray-500 border-opacity-50 align-middle">
          -
          </div>
          <div class="table-cell">
          </div>
          <div class="table-cell text-gray-700 text-center align-middle">
            <%= t('.other_than_the_above') %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
