<%= turbo_stream_from current_user.dogrun_place, "admin_sidebar" %>
<!-- Sidebar -->
<nav class="hidden md:block">
  <div class="bg-gray-800 shadow-xl fixed bottom-0 mt-12 md:relative h-screen z-10 w-48 content-center">
    <div class="mt-12 w-48 fixed left-0 top-0 content-center md:content-start text-left justify-between">
      <ul class="flex flex-col pt-3 py-3 px-2 text-left">
        <% if current_user.grand_admin? %>
          <li class="flex-1">
            <%= link_to admin_dogrun_places_path, 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-pink-500" do %>
              <svg class="mr-1 w-6 h-6" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 14V8.5M6 13V6C6 4.34315 7.34315 3 9 3H14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.9922 4H19.9922M22.9922 4L19.9922 4M19.9922 4V1M19.9922 4V7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 21H6C3.79086 21 2 19.2091 2 17C2 14.7909 3.79086 13 6 13H17H18C15.7909 13 14 14.7909 14 17C14 19.2091 15.7909 21 18 21C20.2091 21 22 19.2091 22 17V14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span class="pt-1 text-sm text-gray-200">
                <%= t('.dogrun_place_list') %>
              </span>
            <% end %>
          </li>
          <li class="flex-1">
              <%= link_to admin_users_path, 
                  class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-red-500" do %>
                  <svg class="mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                  </svg>
                  <span class="pt-1 text-sm text-gray-200">
                    <%= t('.user_list') %>
                  </span>
              <% end %>
          </li>
          <li class="flex-1">
            <%= link_to admin_dogs_path, 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-blue-300" do %>
              <svg class="mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path>
              </svg>
              <span class="pt-1 text-sm text-white">
                <%= t('.registered_dogs_list') %>
              </span>
            <% end %>
          </li>
        <% else %>
          <li class="flex-1">
            <%= link_to admin_dogrun_place_path(current_user.dogrun_place), 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-red-300" do %>
              <svg class="pt-1 mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
              </svg>
              <span class="pt-1 text-sm text-gray-200">
                <%= t('.dogrun_place_detail_information') %>
              </span>
            <% end %>
          </li>
          <li class="flex-1">
            <%= link_to admin_entries_path, 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-purple-500" do %>
                <svg class="pt-1 mr-1 w-6 h-6" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 6L20 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4 6.01L4.01 5.99889" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4 12.01L4.01 11.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4 18.01L4.01 17.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 12L20 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8 18L20 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="pt-1 text-sm text-gray-200">
                  <%= t('defaults.entry_list') %>
                </span>
            <% end %>
          </li>
          <li class="flex-1">
            <%= link_to admin_dogs_path, 
            class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-blue-300" do %>
              <svg class="mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"></path>
              </svg>
              <span class="flex pt-1 text-sm text-gray-200">
                <%= t('.registered_dogs_list') %>
                <%= turbo_frame_tag dom_id(current_user.dogrun_place, "new_registration_number_count_badge") do %>
                  <%= new_registration_number_count_badge(current_user) %>
                <% end %>
              </span>
            <% end %>
          </li>
          <li class="flex-1">
            <%= link_to admin_posts_path, 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-green-300" do %>
              <svg class="pt-1 mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path>
              </svg>
              <span class="flex">
                <%= simple_format(t('.dogrun_post_list'), class: "text-xs text-gray-200") %>
                <div class="pt-2">
                  <%= turbo_frame_tag dom_id(current_user.dogrun_place, "new_post_count_budge") do %>
                    <%= new_post_count_badge(current_user) %>
                  <% end %>
                </div>
              </span>
            <% end %>
          </li>
          <li class="flex-1">
            <%= link_to admin_staffs_path, 
                class: "flex py-3 pl-1 align-middle text-gray-200 no-underline border-b-2 border-gray-800 hover:border-pink-300" do %>
              <svg class="mr-1 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11"></path>
              </svg>
              <span class="pt-1 text-sm text-gray-200">
                <%= t('.staff_list') %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
