<% content_for(:title, t('.title')) %>
<div class="max-w-6xl mx-auto px-1 sm:px-6 lg:px-8 mt-5">
  <h1 class='mb-3'>
    <%= simple_format(t('.title'), class: "text-3xl text-indigo-800 font-semibold text-center") %>
  </h1>
  <div class="flex justify-center my-2 items-end">
    <p class=""><%= t('.search_results_are') %></p>
    <h3 class="px-2 text-xl"><%= @encount_dogs_results.count %></h3>
    <p class=""><%= t('.unit_of_encount_dogs') %></p>
  </div>
  <%= render 'search_form' %>
  <div class="container bg-purple-200 w-full shadow rounded sm:p-10 pt-3 mt-3">
    <div class="block w-full overflow-x-auto">
      <table class="table-auto items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th class="pl-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= simple_format(t('defaults.thumbnail')) %>
            </th>
            <th class="pl-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= simple_format(t('defaults.dog_name')) %>
            </th>
            <th class="pl-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= t('.encount_date') %>
            </th>
            <th class="pl-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= t('.encount_dogrun') %>
            </th>
            <th class="pl-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= EncountDog.human_attribute_name(:memo) %>
            </th>
            <th class="pl-6 pr-6 md:pl-12 text-sm whitespace-nowrap font-semibold bg-purple-200 text-gray-600 border-b border-gray-700">
              <%= t('defaults.edit') %>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'shared/encount_dog', collection: @encount_dogs_results %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @encount_dogs_results %>
</div>
