<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title><%= page_title(yield(:title)) %></title>
    <%= render 'application/favicon' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
    <main>
      <%= render partial: 'shared/flash' %>
      <div class="w-full">
        <%= yield %>
        <%= render partial: 'admin/shared/footer' %>
      </div>
    </main>
    <script>
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/serviceworker.js', { scope: './' })
          .then(function(reg) {
            console.log('[Companion]', 'Service worker registered!');
          });
      }
    </script>
  </body>
</html>
