<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title><%= page_title(yield(:title)) %></title>
    <%= render 'application/favicon' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <%= render 'application/google_tag' %>

  <body class="break-words flex flex-col min-h-screen bg-gray-800 font-sans leading-normal tracking-normal">
    <%= render partial: 'shared/flash' %>
    <main class="flex-grow">
      <div class="w-full" data-controller="service-worker">
        <%= yield %>
      </div>
    </main>
    <%= render partial: 'admin/shared/footer' %>
  </body>
</html>
