<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'layouts/shim' %>

    <title>DogrunConnectApp</title>
  </head>

  <body class="pb-420 box-border">
    <main>
      <%= render 'togo_inu_shitsuke_hiroba/shared/navbar' %>
      <%#= render 'togo_inu_shitsuke_hiroba/shared/flash_message' %>
      <div class="w-full">
        <%= yield %>
        <%= render 'togo_inu_shitsuke_hiroba/shared/footer' %>
      </div>
    </main>
  </body>
</html>
