<!DOCTYPE html>
<html lang="ja" class="scroller">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <% if current_page?(controller: 'static_pages', action: "top") %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title><%= page_title(yield(:title)) %></title>
    <%= Gon::Base.render_data %>
    <%= render 'application/favicon' %>
    <%= render 'application/google_tag' %>
    <%= display_meta_tags(togo_inu_shitsuke_hiroba_meta_tags) %>
  </head>

  <body class="bg-gray-100 dark:bg-gray-800 break-words flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/login_navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div id="flash" class="z-50 flex-col fixed top-16 right-1">
      <%= render 'shared/flash' %>
    </div>
    <%= tag.main class: "relative flex-grow" do %>
      <div class="w-full">
        <%= yield %>
      </div>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
