<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title><%= page_title(yield(:title)) %></title>
    <%= Gon::Base.render_data %>
    <%= render 'application/favicon' %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="dark:bg-gray-800 break-words flex flex-col min-h-screen">
    <%= render 'application/fb_sdk' %>
    <% if logged_in? %>
      <%= render 'togo_inu_shitsuke_hiroba/shared/login_navbar' %>
    <% else %>
      <%= render 'togo_inu_shitsuke_hiroba/shared/navbar' %>
    <% end %>
    <%= render partial: 'shared/flash' %>
    <main class="mb-auto relative">
      <div class="w-full" data-controller="service-worker">
        <%= turbo_frame_tag "notice_modal" %>
        <%= yield %>
      </div>
    </main>
    <%= render 'togo_inu_shitsuke_hiroba/shared/footer' %>
  </body>
</html>
